.row.company-profile
  .col-sm-7
    h2 Our Company Profile
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel magna vel augue pellentesque sollicitudin. Nunc ut semper sem. Curabitur at lectus sodales, tristique nisi et, sodales urna. Vivamus in velit at lorem hendrerit
      | pulvinar. Suspendisse ut malesuada purus. Mauris ullamcorper risus in lorem tristique, ut fringilla velit suscipit. In a arcu quis mi ultricies pulvinar in ac ex.

  .col-sm-5
    img.img-responsive.center-block(src="images/investor-relations-1.jpg")
  .col-sm-12
    a.blue.download(href="#") Download PDF