.row.history
  .col-sm-12
    #carousel-history-lautanluas-mobile.carousel.slide(data-ride='carousel')
     
      //- Wrapper for slides
      .carousel-inner(role='listbox')
        .item.active
          .col-xs-6
            img.img-responsive(src='images/1951.jpg', alt='gambar')
          .col-xs-6
            .year
              h1 1951
            .description
              p Established under the name of NV Lim Teck Lee (Indonesia) Coy. Ltd.

        //- each item in [1,2,3]
        .item
          .col-xs-6
            img.img-responsive(src='images/1965.jpg', alt='gambar')
          .col-xs-6
            .year
              h1 1965
            .description
              p Changed the Company’s name to PT LautanLuas.
        .item
          .col-xs-6
            img.img-responsive(src='images/1969.jpg', alt='gambar')
          .col-xs-6
            .year
              h1 1969
            .description
              p Established Indonesia’s first private sector sulfuric acid manufacturing facility.
        .item
          .col-xs-6
            img.img-responsive(src='images/1970s.jpg', alt='gambar')
          .col-xs-6
            .year
              h1 Late 1970's
            .description
              p Established additional manufacturing facilities and a wider distribution network focusing on specialty chemicals.
        .item
          .col-xs-6
            img.img-responsive(src='images/1997.jpg', alt='gambar')
          .col-xs-6
            .year
              h1 1997
            .description
              p Initial Public Offering (IPO) on the Indonesia Stock Exchange, with 780,000,000 currently outstanding listed shares.
        .item
          .col-xs-6
            img.img-responsive(src='images/1999.jpg', alt='gambar')
          .col-xs-6
            .year
              h1 1999
            .description
              p Strengthened regional market presence with the establishment of Singapore subsidiary.
        .item
          .col-xs-6
            img.img-responsive(src='images/2001.jpg', alt='gambar')
          .col-xs-6
            .year
              h1 2001
            .description
              p Restructured the Company’s Logistic Division into LINC Group, becoming a subsidiary and an independent profit center.
        .item
          .col-xs-6
            img.img-responsive(src='images/2002.jpg', alt='gambar')
          .col-xs-6
            .year
              h1 2002
            .description
              p Launched www.lautan-luas.com, the award winning website that currently provides total e-commerce solutions.
        .item
          .col-xs-6
            img.img-responsive(src='images/2003-b.jpg', alt='gambar')
          .col-xs-6
            .year
              h1 2003
            .description
              p Established the Company’s first overseas manufacturing facility in China, which has been expanded to 2 (two) plants.
        .item
          .col-xs-6
            img.img-responsive(src='images/2005.jpg', alt='gambar')
          .col-xs-6
            .year
              h1 2005
            .description
              p Established a regional office in Bangkok, Thailand.
        .item
          .col-xs-6
            img.img-responsive(src='images/2007.jpg', alt='gambar')
          .col-xs-6
            .year
              h1 2007
            .description
              p Established a regional office in Shanghai, China.
        .item
          .col-xs-6
            img.img-responsive(src='images/2008.jpg', alt='gambar')
          .col-xs-6
            .year
              h1 2008
            .description
              p Established our manufacturing plant in Ho Chi Minh City, Vietnam. Established LINC Group International Pte. Ltd., a regional logistic subsidiary based in Singapore.
        .item
          .col-xs-6
            img.img-responsive(src='images/2010.jpg', alt='gambar')
          .col-xs-6
            .year
              h1 2010
            .description
              p Expanded our CSR program into housing, water treatment, and disaster recovery, while supporting employee initiatives in various communities.
        .item
          .col-xs-6
            img.img-responsive(src='images/2013.jpg', alt='gambar')
          .col-xs-6
            .year
              h1 2013
            .description
              p Implemented SAP, a enterprise-wide integrated resourcemanagement program that will further improve the company’s information technology and operational efficiency.
        .item
          .col-xs-6
            img.img-responsive(src='images/going-forward.jpg', alt='gambar')
          .col-xs-6
            .year
              h1 Going Forward
            .description
              p The Company continues to review investment opportunities in the domestic and regional markets.We will seek to increase our in-house manufacturing capability in the food, personal care, energy, agriculture and water treatment market sectors.


      //- Controls
      a.left.carousel-control(href='#carousel-history-lautanluas-mobile', role='button', data-slide='prev')
        //- span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
        i.fa.fa-angle-left(aria-hidden='true')
        span.sr-only Previous
      a.right.carousel-control(href='#carousel-history-lautanluas-mobile', role='button', data-slide='next')
        //- span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
        i.fa.fa-angle-right(aria-hidden='true')
        span.sr-only Next

        
