extends ./_layout.jade

block title
  title Lautan Luas - Good Corporate Governance

block content
  .container-fluid.hero

  .breadcrumb-wrapper
    .container
      ol.breadcrumb
        li
          a(href="index.html") Home
        li.separator

        li
          a(href="about-us.html") About Us
        li.separator
        li.active Good Corporate Governance

  .padding-extra-large
    .container
      .row.good-corporate
        .col-md-9
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus consectetur magna at finibus tempor. Suspendisse consequat pharetra ipsum sit amet ultrices. Phasellus vestibulum pharetra malesuada. Quisque egestas massa vel nisi bibendum pellentesque. Mauris sed aliquam nisi, non interdum erat. Vestibulum feugiat gravida nibh, vel imperdiet arcu consectetur nec. Integer eget viverra odio. Phasellus posuere risus sed mauris euismod vestibulum. Suspendisse ac lacus sapien. In pulvinar ante non bibendum placerat. Vestibulum aliquam lobortis mattis. Vestibulum non efficitur nisi, vitae dignissim eros. Ut tristique nisi elit, quis scelerisque tortor faucibus vitae. Duis blandit, massa non sagittis tempus, quam lectus ultrices sem, nec dignissim nisi nibh et quam. 
          p Fusce id ipsum dui. Phasellus quis ex id tortor consequat placerat. Ut lacinia, erat id posuere ultricies, mauris dui hendrerit felis, ac aliquam tellus nunc sed felis. Aenean sed eros tortor. Sed ultricies accumsan tortor vitae maximus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam posuere tortor molestie, vestibulum odio a, lobortis urna. Aenean ornare lorem sed risus fermentum, vel laoreet quam elementum.
        .col-md-3.attachment
          h5 attachment
          .row
            .col-md-4
              img.img-responsive(src="images/icon-attachment-1.png")
            .col-md-8
              .title Good Corporate Governance Charter
              .validity Valid from October 4, 2004
              .download 
                a(href="#") Download
          //- .text-wrapper
          //-   .top 
          //-     h4 Good Corporate Governance Charter
          //-     p Valid from October 4, 2004
          //-   .bottom
          //-     a.btn.btn-blue.book-download(href="#") Download
          //-     span.file-size.pull-right 24k
          //- img.img-responsive.cover(src="images/investor-relations-1.jpg")
