extends ./_layout.jade

block title
  title Lautan Luas - About Us

block content
  .container-fluid.hero

  .breadcrumb-wrapper
    .container
      ol.breadcrumb
        li
          a(href="index.html") Home
        li.separator
        li.active About Us

  //- Intro paragraph
  .padding-extra-large
    .container
      .row
        .col-sm-12
          p Lautan Luas was founded in 1951 as an importer and distributor of basic chemicals. Today, the Company has evolved to become a distributor and manufacturer of basic and specialty chemicals, working with over 100 international principals, supplying more than 1,000 chemical products and serving some 2,000 industrial end-users throughout Indonesia and the Asia-Pacific region.
            | To oversee its vast distribution networks, Lautan Luas, is headquartered in Jakarta, operates five branches and seven representative offices located in major cities throughout the Indonesian archipelago. A regional office in Singapore overlooks the Company’s activities in China, Thailand, and Vietnam. Lautan Luas currently has a stake in sixteen manufacturing facilities in Indonesia, two in China, and a water treatment chemical manufacturing plant in Vietnam. The Lautan Luas
            |support & services business is comprised of five entities providing laboratory services, supply chain, information technology, water treatment solutions, and industrial estate – to provide value-added services to customers.

  //- Tab - tab
  //- About us tab akan dibagi menjadi dua, yang pertama adalah versi desktop dan yang kedua adalah versi mobile.
  //- ABOUT US DESKTOP
  .hidden-xs#about-us-tab
    .container
      div.about-nav-tab(role='tabpanel')
        //- Nav tabs
        ul.nav.nav-tabs(role='tablist')
          li.col-xs-4.text-center.active(role='presentation')
            a(href='#ourbusiness', aria-controls='ourbusiness', role='tab', data-toggle='tab') Our Business
          li.col-xs-4.text-center(role='presentation')
            a(href='#ourhistory', aria-controls='ourhistory', role='tab', data-toggle='tab') Our History
          li.col-xs-4.text-center(role='presentation')
            a(href='#companyprofile', aria-controls='companyprofile', role='tab', data-toggle='tab') Company Profile
    //- Tab panes
    .gray-bg.padding-large.about-content-tab.hidden-xs
      .container
        .row
          .col-sm-12
            .tab-content
              #ourbusiness.tab-pane.fade.in.active(role='tabpanel')
                include ./template/about-us/our-business.jade
              #ourhistory.tab-pane.fade(role='tabpanel')
                include ./template/about-us/our-history.jade
              #companyprofile.tab-pane.fade(role='tabpanel')
                include ./template/about-us/company-profile.jade

  
  .gray-bg.padding-large.hidden-sm.hidden-md.hidden-lg
    .container
      #about-us-tab-mobile.dl-menuwrapper
        button.dl-trigger Open Menu
        ul.dl-menu
          li
            a(href='#' ke="#distribution-mobile") Our Business
            ul.dl-submenu
              li
                a(href='#' ke="#distribution-mobile") Distribution 
              li
                a(href='#' ke="#manufacturing-mobile") Manufacturing
              li
                a(href='#' ke="#services-mobile") Services 
          li 
            a(href="#" ke="#ourhistory-mobile") Our History
          li 
            a(href="#" ke="#companyprofile-mobile") Company Profile

      .padding-large.about-us-tab-mobile-content
        .tab-in-mobile#distribution-mobile(style="")
          include ./template/about-us/our-business/distribution.jade
        .tab-in-mobile#manufacturing-mobile(style="display: none;") 
          include ./template/about-us/our-business/manufacturing.jade
        .tab-in-mobile#services-mobile(style="display: none;") 
          include ./template/about-us/our-business/services.jade
        .tab-in-mobile#ourhistory-mobile(style="display: none;") 
          include ./template/about-us/our-history-mobile.jade
        .tab-in-mobile#companyprofile-mobile(style="display: none;")
          include ./template/about-us/company-profile.jade



  //- Visi misi
  .padding-large
    .container
      .row.visi-misi
        .col-md-6
          h2 Our Vision
          p To be the Leading Regional Integrated chemical distribution and manufacturing company by providing:
          ul
            li Value to customers in becoming a preferred business partner
            li Challenge and Opportunities to our employees; and
            li Superior Return to our shareholders.
        .col-md-6
          h2 Our Core Values
          ul
            li We comply with high ethical standards.
            li We commit to excellence, accountability, and responsibility in every role-performance.
            li We serve our customers to the best of our ability.
            li We recognize and reward creativity.
            li We treat people with respect.
  
  //- Video
  .gray-blue-bg.padding-large
    .container.about-video
      .row
        .col-sm-12
          h5 Videos
      .row.row-video
        .col-sm-12
          .top
            a(class="fancybox fancybox.iframe" rel="group", href="https://www.youtube.com/embed/erLk59H86ww?autoplay=1")
              .play-wrapper
                //- i.fa.fa-play-circle
                img.play(src="images/icon-play.png")
              img(src="images/2005.jpg", alt="Budha")
      .row.row-video
        .col-sm-6
          .left
            a(class="fancybox fancybox.iframe" rel="group", href="https://www.youtube.com/embed/erLk59H86ww?autoplay=1")
              .play-wrapper
                //- i.fa.fa-play-circle
                img.play(src="images/icon-play.png")
              img(src="images/2005.jpg", alt="Budha")
        .col-sm-6
          .right
            a(class="fancybox fancybox.iframe" rel="group", href="https://www.youtube.com/embed/erLk59H86ww?autoplay=1")
              .play-wrapper
                //- i.fa.fa-play-circle
                img.play(src="images/icon-play.png")
              img(src="images/2005.jpg", alt="Budha")
              
  //- Pendiri
  .gray-bg.pendiri
    .container
      .row.row-pendiri
        .col-sm-6
          .wrapper-2
            a(href="about-us--board-of-commissioners.html")
              .text-wrapper.text-center.padding-small
                span Board of Commissioners
              img(src="images/boc-collage-1.jpg", alt="Board of Commissioners")
        .col-sm-6
          .wrapper-2
            a(href="about-us--board-of-directors.html")
              .text-wrapper.text-center.padding-small
                span Board of Directors
              img(src="images/bod-collage-1.png", alt="Board of Directors")
      .row.row-pendiri
        .col-sm-4
          .wrapper-3
            a(href="about-us--health-safety-and-environment.html")
              .text-wrapper.text-center.padding-small
                span Health, Safety and Environment
              img(src="images/news-1.jpg", alt="Budha")
        .col-sm-4
          .wrapper-3
            a(href="about-us--good-corporate-governance.html")
              .text-wrapper.text-center.padding-small
                span Good Coorporate Governance
              img(src="images/news-2.jpg", alt="Budha")
        .col-sm-4
          .wrapper-3
            a(href="about-us--our-poeple.html")
              .text-wrapper.text-center.padding-small
                span Our Poeple
              img(src="images/news-3.jpg", alt="Budha")

  

block script
  script(type="text/javascript").

    function getCookie(cname) {
      var name = cname + "=";
      var ca = document.cookie.split(';');
      for(var i=0; i<ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0)==' ') c = c.substring(1);
      if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
      }
      return "";
    }

    $(document).ready(function() {
      $(".fancybox").fancybox({
        maxWidth  : 800,
        maxHeight : 600,
        fitToView : false,
        width   : '70%',
        height    : '70%',
        autoSize  : false,
        closeClick  : false,
        padding: 0,
        loop: false,
        tpl: {
          next: '',
          prev: ''
        }
      });

      $( '#about-us-tab-mobile' ).dlmenu();
      $( '#about-us-tab-mobile a' ).click(function(e){
        e.preventDefault();
        var ke = $(this).attr('ke');
        $('.tab-in-mobile').fadeOut('fast', function(){
          $(ke).fadeIn('fast');
        });
      });

      var ourBusinessTab = getCookie('aboutus');

      $('#about-us-tab a[href="#ourbusiness"]').tab('show');
      $('#about-us-tab a[href="#'+ourBusinessTab+'"]').tab('show');

      $('.about-us-tab-mobile-content .tab-in-mobile').hide();
      $('.about-us-tab-mobile-content #'+ourBusinessTab+'-mobile').show();
    });