extends ./_layout.jade

block title
  title Board of Directors

block content
  .container-fluid.hero

  .breadcrumb-wrapper
    .container
      ol.breadcrumb
        li
          a(href="index.html") Home
        li
          a(href="about-us.html") About Us
        li
          a(href="about-us--board-of-directors.html") Board of Directors
        li.active Saha atuh

  .container.padding-extra-large
    .row.board-single
      .col-sm-3.picture
        img.img-responsive.center-block(src="images/pranata-hajadi-1_1.png")
      .col-sm-9.description
        h2 Pranata Hajadi
        small 
          i Vice President Commissioner
        p Pranata graduated from Monash University, Melbourne, Australia in 1979 with a Bachelor of Economics, and from the University of Chicago, Chicago, USA in 1982 with a Master of Business Administration. Pranata started his career as an auditor at Price Waterhouse & Co. in 1979, working at both the Melbourne and Jakarta offices. He then joined the First National Bank of Chicago in 1983 as its Representative in the Jakarta office. In 1986, the Bank transferred him to the Corporate Banking Department in Singapore, and then to their Hong Kong regional office as the Head of International Private Banking Asia in 1988. Between 1989 and 1996, he was a partner at Business Advisory Group Singapore, a regional boutique financial advisory company. 
        p Pranata began working with PT LAUTAN LUAS Tbk as an advisor in 1989. He was appointed Vice President Director in 1996, and served as Commissioner from 2007 until August 2013. In September 2013, he was appointed as Vice President Commissioner.  In this role, Pranata overlooks the Company's financial planning and corporate strategy