extends ./_layout.jade

block title
  title Board of Directors

block content
  .container-fluid.hero

  .breadcrumb-wrapper
    .container
      ol.breadcrumb
        li
          a(href="index.html") Home
        li
          a(href="about-us.html") About Us
        li.active Board of Directors

  .white-bg
    .container
      .row
        .board
          .gray-bg
          .col-sm-6 ss
          .col-sm-6 ssss
        .description
      .row
      .row