extends ./_layout.jade

block title
  title Investor Relations

block content
  .container-fluid.hero

  .breadcrumb-wrapper
    .container
      ol.breadcrumb
        li
          a(href="index.html") Home
        li
          a(href="investor-relations.html") Investor Relations
        li.active FAQ

  .white-bg.padding-large
    .container.faq
      .row.questions
        .col-xs-12
          h5 how to apply?
          ul.list-unstyled
            li
              a(href="#1") How to apply and fill up  the application form?
            li
              a(href="#2") What if I already graduated but have not received an education certificate?
            li
              a(href="#3") I have filled the application form in the website and save it. But there is data that I want to review. How do I renew or revise my data?
            li
              a(href="#4") I have filled up completely all the coloumn in the application form, but when I  want to attached the documents, the page cannot be saved. What should I do?
            li
              a(href="#5") I have submitted the application sometimes ago, but have not been contacted and usually how long I will be contacted?
            li
              a(href="#6") Is it possible to apply more than 1 (one) position?
            li
              a(href="#7") How is the recruitment process in PT Lautan Luas Tbk?

      .row.devider
      .row.answers
        .col-xs-12
          dl
            dt#1 How to apply and fill up  the application form?
            dd 
              ol
                li Open the career section dari website PT Lautan Luas Tbk : career.lautan-luas.com
                li First, choose the position that you wish to apply, then click the button “apply”
                li If you don’t have the account, you need to make “new account”, but if you already have  an account, you just need to login with your email and password that been registered before.
                li Then fill up each coloumn completely.
                li Don’t forget to prepare your documents : softcopy of photo, education certificate and education transcript.

            dt#2 What if I already graduated but have not received an education certificate?
            dd You may use Surat Keterangan Lulus (SKL)

            dt#3 I have filled the application form in the website and save it. But there is data that I want to review. How do I renew or revise my data?
            dd First, you need to login with your email and password that been registered before. Then click “Update” and you may renew/revise the coloumn that you want to change. After you done, click “Next”.

            dt#4 I have filled up completely all the coloumn in the application form, but when I  want to attached the documents, the page cannot be saved. What should I do?
            dd First, close the page, then send the message to our email: lautan.luas@lautan-luas.com. Our support team will contact you to help further.

            dt#5 I have submitted the application sometimes ago, but have not been contacted and usually how long I will be contacted?
            dd Basically, we have received your application. If we have a position matched with your skills and experience, you’ll be contacted approximately in 2 (two) weeks to discuss the opportunity to work in PT Lautan Luas Tbk.  Otherwise we will save your resume into our database for any future openings.

            dt#6 Is it possible to apply more than 1 (one) position?
            dd Yes, you may apply for maximum 3 (three) positions.

            dt#7 How is the recruitment process in PT Lautan Luas Tbk?
            dd Upon receive your application and identify the right position, we will contact you for the psychological test and interview with Human Resources, continued with interview and skill test (if needed) with Department Head. The final interview will  be conducted with higher level authorities.

                
  .gray-bg.padding-small
    .container.investor-contact
      .row.text-center
        | For investor relation inquiries, please contact 
        a(href="mailto:investor.relations@lautan-luas.com") investor.relations[at]lautan-luas[dot]com
            
            

block script