extends ./_layout.jade

block title
  title Investor Relations

block content
  .container-fluid.hero

  //- Breadcrumb
  .breadcrumb-wrapper.hidden-xs
    .container
      ol.breadcrumb
        li
          a(href="index.html") Home
        li.separator
        li.active Corporate Social Responsibility
  
  .padding-large.white-bg
    .container
      .row.username-apply
        .col-xs-8
          .email Logged in as john.doe@email.com
        .col-xs-4.text-right
          a.btn.btn-blue(href="#") Logout
      .row.padding-top-large.steps-apply
        .col-xs-12
          h2 Steps

      // Desktop Version of tab steps
      .row.hidden-xs
        .tabs-left
          .col-xs-3
            ul.nav.nav-tabs.tab-apply(role='tablist')
              li.active(role='presentation')
                a(href='#personal-information', aria-controls='personal-information', role='tab', data-toggle='tab') 1. Personal Information
              li(role='presentation')
                a(href='#education-history', aria-controls='education-history', role='tab', data-toggle='tab') 2. Education History
              li(role='presentation')
                a(href='#working-experience', aria-controls='working-experience', role='tab', data-toggle='tab') 3. Working Experience
              li(role='presentation')
                a(href='#courses', aria-controls='courses', role='tab', data-toggle='tab') 4. Courses
              li(role='presentation')
                a(href='#upload-files', aria-controls='upload-files', role='tab', data-toggle='tab') 5. Upload Files


          .tab-content.col-xs-9
            #personal-information.tab-pane.fade.in.active(role='tabpanel')
              include ./template/careers/personal-information.jade
            #education-history.tab-pane.fade(role='tabpanel')
              include ./template/careers/education-history.jade
            #working-experience.tab-pane.fade(role='tabpanel')
              include ./template/careers/working-experience.jade
            #courses.tab-pane.fade(role='tabpanel')
              include ./template/careers/courses.jade
            #upload-files.tab-pane.fade(role='tabpanel')
              include ./template/careers/upload-files.jade

      // Mobile version of tab steps
      .row.visible-xs-block
        .col-xs-12
          select.form-control#steps-tab-mobile
            option(value="personal-information" ke="#personal-information-mobile") 1. Personal Information
            option(value="education-history" ke="#education-history-mobile") 2. Education History
            option(value="working-experience" ke="#working-experience-mobile") 3. Working Experience
            option(value="courses" ke="#courses-mobile") 4. Courses
            option(value="upload-files" ke="#upload-files-mobile") 5. Upload Files

        .col-xs-12.steps-collection-mobile
          .steps-item-in-mobile#personal-information-mobile(style="display: block;")
            include ./template/careers/personal-information.jade
          .steps-item-in-mobile#education-history-mobile(style="display: none;")
            include ./template/careers/education-history.jade
          .steps-item-in-mobile#working-experience-mobile(style="display: none;")
            include ./template/careers/working-experience.jade
          .steps-item-in-mobile#courses-mobile(style="display: none;")
            include ./template/careers/courses.jade
          .steps-item-in-mobile#upload-files-mobile(style="display: none;")
            include ./template/careers/upload-files.jade

block script
  script(type="text/javascript").

    var $tabs = $('.tab-apply > li');
    var offsetTop = $('.steps-apply').offset().top;

    $('.next-apply-steps').on('click', function(e){
      
      e.preventDefault();
      
      $tabs.filter('.active').next('li').find('a[data-toggle="tab"]').tab('show')
        .on('shown.bs.tab', function (e) {
          
          $('html,body').animate({ scrollTop: offsetTop }, 'slow');
      });

      
      var current = $('#steps-tab-mobile').find(':selected');
      var next = current.next();
      next.attr('selected', 'selected');
      $('.steps-item-in-mobile').fadeOut('fast', function(){
        $(next.attr('ke')).show();
      });

    });

    $('.prev-apply-steps').on('click', function(e){

      e.preventDefault();
      
      $tabs.filter('.active').prev('li').find('a[data-toggle="tab"]').tab('show')
        .on('shown.bs.tab', function (e) {

          $('html,body').animate({ scrollTop: offsetTop }, 'slow');
      });

      var current = $('#steps-tab-mobile').find(':selected');
      var prev = current.prev();
      prev.attr('selected', 'selected');
      $('.steps-item-in-mobile').fadeOut('fast', function(){
        $(prev.attr('ke')).show();
      });


    });

    $( '#steps-tab-mobile' ).change(function(){
      var ke = $('option:selected', this).attr('ke');
      $('.steps-item-in-mobile').fadeOut('fast', function(){
        $(ke).show();
      });
    });