extends ./_layout.jade

block title
  title Lautan Luas - Careers

block content
  .container-fluid.hero

  .breadcrumb-wrapper.hidden-xs
    .container
      ol.breadcrumb
        li
          a(href="index.html") Home
        li.separator
        li.active Careers

  //- Intro paragraph
  .padding-large
    .container
      .row
        .col-sm-12
          h2 Life at Lautan Luas
          p Lautan Luas was founded in 1951 as an importer and distributor of basic chemicals. Today, the Company has evolved to become a distributor and manufacturer of basic and specialty chemicals, working with over 100 international principals, supplying more than 1,000 chemical products and serving some 2,000 industrial end-users throughout Indonesia and the Asia-Pacific region.
            | To oversee its vast distribution networks, Lautan Luas, is headquartered in Jakarta, operates five branches and seven representative offices located in major cities throughout the Indonesian archipelago. A regional office in Singapore overlooks the Company’s activities in China, Thailand, and Vietnam. Lautan Luas currently has a stake in sixteen manufacturing facilities in Indonesia, two in China, and a water treatment chemical manufacturing plant in Vietnam. The Lautan Luas
            |support & services business is comprised of five entities providing laboratory services, supply chain, information technology, water treatment solutions, and industrial estate – to provide value-added services to customers.

  //- Why join
  .padding-large.gray-bg#why-join
    .container.why-join
      .row.text-center
        .col-sm-12
          h2 Why Join Lautan Luas
      .row.manufacturing
        .col-sm-12.logo-collection
          .row.logo-item
            each item in [{text: 'The Lautan Luas core values guide our daily work', anchor: '#1'},{text: 'We are a big and fast growing company, rapidly becomming a global player', anchor: '#2'},{text: 'We highly appreciate and value our employees ', anchor: '#3'}]
              .col-sm-4.item
                a(href="careers--why-join--single.html#{item.anchor}")
                  .image
                    img.center-block.img-responsive(src="images/PT-Advance-Stabilindo-Industry.png")
                  .caption.text-center
                    = item.text
           
          .row.logo-item
            each item in [{text: 'We equip our employees with knowledge and skills ', anchor: '#4'},{text: 'Shared resources : transfer between departments and group', anchor: '#5'},{text: 'We offer you a career path  (overseas exposure)', anchor: '#6'}]
              .col-sm-4.item
                a(href="careers--why-join--single.html#{item.anchor}")
                  .image
                    img.center-block.img-responsive(src="images/PT-Advance-Stabilindo-Industry.png")
                  .caption.text-center
                    = item.text
          .row.logo-item
            each item in [{text: 'Integrated Office ', anchor: '#7'},{text: 'Comfortable Working Facilities', anchor: '#8'},{text: 'A High Engagement, Comfortable Working Environment ', anchor: '#9'}]
              .col-sm-4.item
                a(href="careers--why-join--single.html#{item.anchor}")
                  .image
                    img.center-block.img-responsive(src="images/PT-Advance-Stabilindo-Industry.png")
                  .caption.text-center
                    = item.text

  //- Form join
  .image-bg.padding-extra-large.search-job
    .container-fluid
      .row
        .col-sm-12.text-center
          h2 Search Job Opportunities
          form.form-inline(action="careers--view-all-jobs.html")
            .form-group
              input.form-control(placeholder="Enter search term")
            .form-group
              select.form-control
                option Select functional area 
                option First choice
                option Second choice
                option Third choice
            .form-group
              select.form-control
                option Select Location
                option First choice
                option Second choice
                option Third choice
            button.btn.btn-transparant(type="submit") Search
      .row.counter.padding-large
        .col-sm-12.text-center There are currently 
          strong 610 
          | open positions.
      .row.anchor
        .col-sm-12.text-center
          a.btn.btn-transparant(href="careers--how-to-apply.html") How To Apply
          a.btn.btn-blue(href="careers--view-all-jobs.html") View all jobs



  //- Employee
  .padding-large.white-bg
    .container.thumbmail-preview-one.archive
      .row
        .col-xs-6
          h5 EMPLOYEE ACTIVITIES
        .col-xs-6.text-right
          a.view-all(href="careers--employee-activities.html") View all 
            i.fa.fa-angle-right
      .row.case-studies
        .col-xs-12.col-md-3.item
          .box
            .image
              a(href="article-single.html")
                img(src="images/news-1.jpg")
            .text 
              h3 
                a(href="article-single.html") Lorem ipsum dolor sit amet consectetur
        .col-xs-12.col-md-3.item
          .box
            .image
              a(href="article-single.html")
                img(src="images/news-1.jpg")
            .text 
              h3 
                a(href="article-single.html") Lorem ipsum dolor sit amet consectetur
        .col-xs-12.col-md-3.item
          .box
            .image
              a(href="article-single.html")
                img(src="images/news-1.jpg")
            .text 
              h3 
                a(href="article-single.html") Lorem ipsum dolor sit amet consectetur
        .col-xs-12.col-md-3.item
          .box
            .image
              a(href="article-single.html")
                img(src="images/news-1.jpg")
            .text 
              h3 
                a(href="article-single.html") Lorem ipsum dolor sit amet consectetur


    
  //- Events
  .gray-bg.padding-large
    .container.investor-events
      .row
        .col-xs-6
          h5 Events
        .col-xs-6.pull-right.text-right
          a.view-all(href="investor-relations--events-archive.html") View all 
            i.fa.fa-angle-right
      .row
        each item in [1,2,3]
          .col-sm-4
            .wrapper
              h3 
                a(href="investor-relations--events-single.html") Lorem ipsum dolor sit amet consectetur elit
              p Nullam pulvinar laoreet nunc vel sollicitudin. Integer imperdiet fringilla urna et maximus. Maecenas placerat augue at enim venenatis placerat.
              .detail
                .item
                  .icon 
                    i.fa.fa-clock-o
                  .content
                    .date May 15, 2015
                    .hour 09:00 - 11:00
                .clearfix
                .item
                  .icon
                    i.fa.fa-map-marker
                  .place Ballroom A, Hotel Mulia
          
block script