extends ./_layout.jade

block title
  title Lautan Luas - Careers - Jobs Opportunities

block content
  .container-fluid.hero

  //- Breadcrumb
  .breadcrumb-wrapper.hidden-xs
    .container
      ol.breadcrumb
        li
          a(href="index.html") Home 
        li.separator
        li
          a(href="careers.html") Careers 
        li.separator
        li.active Jobs Opportunities

  .padding-large.white-bg
    .container.job-opportunities
      .row.title
        .col-md-3
          h5 Job Opportunities
        .col-md-9.search-all
          form.form-inline
            .form-group
              input.form-control(placeholder="Enter search term")
            .form-group
              select.form-control
                option Select functional area 
                option First choice
                option Second choice
                option Third choice
            .form-group
              select.form-control
                option Select Location
                option First choice
                option Second choice
                option Third choice
            button.btn.btn-transparant(type="submit") Search
      .row.content
        .col-sm-12
          // Mobile version
          each item in [1,2,3,4,5,6,7,8,9,10]
            .table-responsive.visible-xs-block
              table.table.table-mobile
                thead
                  tr
                    th(colspan="2") 
                      a.blue(href="careers--view-all-jobs--single.html") Accounting Manager
                tbody
                  tr
                    td Functional area
                    td Accounting
                  tr
                    td Location
                    td Jakarta, Indonesia

          // Desktop and table version
          .table-responsive.hidden-xs
            table.table
              thead
                tr 
                  th Job title
                  th Functional Area
                  th Location
                 
              tbody
                each item in [1,2,3,4,5,6,7,8,9,10]
                  tr
                    td 
                      a.blue(href="careers--view-all-jobs--single.html") Accounting Manager
                    td Accounting Manager
                    td Slipi - Jakarta, Indonesia

          include ./template/pagination.jade
             
