extends ./_layout.jade

block title
  title Investor Relations

block content
  .container-fluid.hero

  .breadcrumb-wrapper
    .container
      ol.breadcrumb
        li
          a(href="index.html") Home
        li.active Careers

  //- Intro paragraph
  .padding-large
    .container
      .row
        .col-sm-12
          h2 Life at Lautan Luas
          p Lautan Luas was founded in 1951 as an importer and distributor of basic chemicals. Today, the Company has evolved to become a distributor and manufacturer of basic and specialty chemicals, working with over 100 international principals, supplying more than 1,000 chemical products and serving some 2,000 industrial end-users throughout Indonesia and the Asia-Pacific region.
            | To oversee its vast distribution networks, Lautan Luas, is headquartered in Jakarta, operates five branches and seven representative offices located in major cities throughout the Indonesian archipelago. A regional office in Singapore overlooks the Company’s activities in China, Thailand, and Vietnam. Lautan Luas currently has a stake in sixteen manufacturing facilities in Indonesia, two in China, and a water treatment chemical manufacturing plant in Vietnam. The Lautan Luas
            |support & services business is comprised of five entities providing laboratory services, supply chain, information technology, water treatment solutions, and industrial estate – to provide value-added services to customers.

  //- Why join
  .padding-large.gray-bg
    .container.why-join
      .row.text-center
        .col-sm-12
          h2 Why Join Lautan Luas
      .row.manufacturing
        .col-sm-12.logo-collection
          .row.logo-item
            each item in ['PT. Advance Stabilindo Industry','PT Dunia Kimia Jaya','PT Dunia Kimia Utama']
              .col-sm-4.item
                a(href="#")
                  .image
                    img.center-block.img-responsive(src="images/PT-Advance-Stabilindo-Industry.png")
                  .caption.text-center
                    = item
           
          .row.logo-item
            each item in ['PT. Advance Stabilindo Industry','PT Dunia Kimia Jaya','PT Dunia Kimia Utama']
              .col-sm-4.item
                a(href="#")
                  .image
                    img.center-block.img-responsive(src="images/PT-Advance-Stabilindo-Industry.png")
                  .caption.text-center
                    = item
          .row.logo-item
            each item in ['PT. Advance Stabilindo Industry','PT Dunia Kimia Jaya','PT Dunia Kimia Utama']
              .col-sm-4.item
                a(href="#")
                  .image
                    img.center-block.img-responsive(src="images/PT-Advance-Stabilindo-Industry.png")
                  .caption.text-center
                    = item

  //- Form join
  .image-bg.padding-extra-large.search-job
    .container-fluid
      .row
        .col-sm-12.text-center
          h2 Search Job Opportunities
          form.form-inline
            .form-group
              input.form-control.input-lg(placeholder="Enter search term")
            .form-group
              select.form-control.input-lg
                option Select functional area 
                option First choice
                option Second choice
                option Third choice
            .form-group
              select.form-control.input-lg
                option Select Location
                option First choice
                option Second choice
                option Third choice
            button.btn.btn-transparant(type="submit") Search
      .row.counter.padding-extra-large
        .col-sm-12.text-center There are currently 
          strong 610 
          | open positions.
      .row.anchor
        .col-sm-12.text-center
          a.btn.btn-transparant(href="careers--how-to-apply.html") How To Apply
          a.btn.btn-transparant(href="careers--view-all-jobs.html") View all jobs



  //- Employee
  .padding-large.white-bg
    .container
      .row
        .col-sm-6.employee
          .row
            .col-sm-12
              h5 Employee stories
          .row
            .col-sm-6
              .item
                .image 
                  a(href="#")
                    img(src="images/news-1.jpg")
                .text
                  a(href="#")
                    h4 Lorem ipsum dolor sit amet consectetur
            .col-sm-6
              .item
                .image 
                  a(href="#")
                    img(src="images/news-1.jpg")
                .text
                  a(href="#")
                    h4 Lorem ipsum dolor sit amet consectetur

        .col-sm-6.employee
          .row
            .col-sm-12
              h5 Employee activities
          .row
            .col-sm-6
              .item
                .image 
                  a(href="#")
                    img(src="images/news-1.jpg")
                .text
                  a(href="#")
                    h4 Lorem ipsum dolor sit amet consectetur
            .col-sm-6
              .item
                .image 
                  a(href="#")
                    img(src="images/news-1.jpg")
                .text
                  a(href="#")
                    h4 Lorem ipsum dolor sit amet consectetur
  //- Events
  .gray-bg.padding-large
    .container.investor-events
      .row
        .col-xs-6
          h5 Events
        .col-xs-6.pull-right.text-right
          a(href="#") View all
      .row
        each item in [1,2,3]
          .col-sm-4
            .wrapper
              h2 
                a(href="#") Lorem Ipsum
              p Nullam pulvinar laoreet nunc vel sollicitudin. Integer imperdiet fringilla urna et maximus. Maecenas placerat augue at enim venenatis placerat.
              .detail
                .item
                  .icon 
                    i.fa.fa-clock-o
                  .content
                    .date May 15, 2015
                    .hour 09:00 - 11:00
                .clearfix
                .item
                  .icon
                    i.fa.fa-map-marker
                  .place Ballroom A, Hotel Mulia
          
block script