extends ./_layout.jade

block title
  title Investor Relations

block content
  .container-fluid.hero

  //- Breadcrumb
  .breadcrumb-wrapper
    .container
      ol.breadcrumb
        li
          a(href="index.html") Home
        li.separator
        li.active Corporate Social Responsibility

  //- Main content
  .padding-large.white-bg
    .container.csr
      .row
        .col-sm-6.pull-right-desktop
          // img.img-responsive(src="images/1999.jpg")
          a.fancybox(href="images/1999.jpg")
            img.img-responsive(src="images/1999.jpg" alt="")
          .hidden
            a.fancybox(href="images/1999.jpg")
              img(src="images/1999.jpg" alt="")
            a.fancybox(href="images/1999.jpg")
              img(src="images/1999.jpg" alt="")

        .col-sm-6
          h3 Housing
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus consectetur magna at finibus tempor. Suspendisse consequat pharetra ipsum sit amet ultrices. Phasellus vestibulum pharetra malesuada. Quisque egestas massa vel nisi bibendum pellentesque. Mauris sed aliquam nisi, non interdum erat.
            | Vestibulum feugiat gravida nibh, vel imperdiet arcu consectetur nec. Integer eget viverra odio. Phasellus posuere risus sed mauris euismod vestibulum. Suspendisse ac lacus sapien. In pulvinar ante non bibendum placerat.
            | Vestibulum aliquam lobortis mattis. Vestibulum non efficitur nisi, vitae
            | dignissim eros. Ut tristique nisi elit, quis scelerisque tortor faucibus vitae. Duis blandit, massa non sagittis tempus, quam lectus ultrices sem.
  .padding-large.gray-bg
    .container.csr
      .row
        .col-sm-6
          a.fancybox(href="images/1999.jpg")
            img.img-responsive(src="images/1999.jpg" alt="")
          .hidden
            a.fancybox(href="images/1999.jpg")
              img(src="images/1999.jpg" alt="")
            a.fancybox(href="images/1999.jpg")
              img(src="images/1999.jpg" alt="")
        .col-sm-6
          h3 Housing
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus consectetur magna at finibus tempor. Suspendisse consequat pharetra ipsum sit amet ultrices. Phasellus vestibulum pharetra malesuada. Quisque egestas massa vel nisi bibendum pellentesque. Mauris sed aliquam nisi, non interdum erat.
            | Vestibulum feugiat gravida nibh, vel imperdiet arcu consectetur nec. Integer eget viverra odio. Phasellus posuere risus sed mauris euismod vestibulum. Suspendisse ac lacus sapien. In pulvinar ante non bibendum placerat.
            | Vestibulum aliquam lobortis mattis. Vestibulum non efficitur nisi, vitae
            | dignissim eros. Ut tristique nisi elit, quis scelerisque tortor faucibus vitae. Duis blandit, massa non sagittis tempus, quam lectus ultrices sem.
  .padding-large.white-bg
    .container.csr
      .row
        .col-sm-6.pull-right-desktop
          a.fancybox(href="images/1999.jpg")
            img.img-responsive(src="images/1999.jpg" alt="")
          .hidden
            a.fancybox(href="images/1999.jpg")
              img(src="images/1999.jpg" alt="")
            a.fancybox(href="images/1999.jpg")
              img(src="images/1999.jpg" alt="")
        .col-sm-6
          h3 Housing
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus consectetur magna at finibus tempor. Suspendisse consequat pharetra ipsum sit amet ultrices. Phasellus vestibulum pharetra malesuada. Quisque egestas massa vel nisi bibendum pellentesque. Mauris sed aliquam nisi, non interdum erat.
            | Vestibulum feugiat gravida nibh, vel imperdiet arcu consectetur nec. Integer eget viverra odio. Phasellus posuere risus sed mauris euismod vestibulum. Suspendisse ac lacus sapien. In pulvinar ante non bibendum placerat.
            | Vestibulum aliquam lobortis mattis. Vestibulum non efficitur nisi, vitae
            | dignissim eros. Ut tristique nisi elit, quis scelerisque tortor faucibus vitae. Duis blandit, massa non sagittis tempus, quam lectus ultrices sem.
          
  //- Others prograw
  .padding-large.gray-bg
    .container.csr--other-programs
      .row.title
        .col-sm-12
          h5 Other programs
      .row.content
        each item in [1,2,3,4]
          .col-sm-6
            .wrapper
              .row
                .col-xs-6.image-wrapper
                  a(href="#")
                    .image
                      a.fancybox(href="images/1999.jpg")
                        img(src="images/1999.jpg" alt="")
                      .hidden
                        a.fancybox(href="images/1999.jpg")
                          img(src="images/1999.jpg" alt="")
                        a.fancybox(href="images/1999.jpg")
                          img(src="images/1999.jpg" alt="")
                .col-xs-6.text
                  a(href="#")
                    h3 Lorem ipsum dolor sit amet consectetur elit
                  .date 20 May 2012

        
block script
  script(type="text/javascript").
    $('.fancybox').attr('rel', 'gallery')
    .fancybox({
        padding : 0
    });