extends ./_layout.jade

block title
  title Investor Relations

block content
  .container-fluid.hero

  .breadcrumb-wrapper
    .container
      ol.breadcrumb
        li
          a(href="index.html") Home
        li.active Corporate Social Responsibility

  .padding-large.white-bg
    .container
      .row
        .col-sm-6
          h3 Housing
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus consectetur magna at finibus tempor. Suspendisse consequat pharetra ipsum sit amet ultrices. Phasellus vestibulum pharetra malesuada. Quisque egestas massa vel nisi bibendum pellentesque. Mauris sed aliquam nisi, non interdum erat.
            | Vestibulum feugiat gravida nibh, vel imperdiet arcu consectetur nec. Integer eget viverra odio. Phasellus posuere risus sed mauris euismod vestibulum. Suspendisse ac lacus sapien. In pulvinar ante non bibendum placerat.
            | Vestibulum aliquam lobortis mattis. Vestibulum non efficitur nisi, vitae
            | dignissim eros. Ut tristique nisi elit, quis scelerisque tortor faucibus vitae. Duis blandit, massa non sagittis tempus, quam lectus ultrices sem.
        .col-sm-6
          img.img-responsive(src="images/1999.jpg")
  .padding-large.gray-bg
    .container
      .row
        .col-sm-6
          img.img-responsive(src="images/1999.jpg")
        .col-sm-6
          h3 Housing
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus consectetur magna at finibus tempor. Suspendisse consequat pharetra ipsum sit amet ultrices. Phasellus vestibulum pharetra malesuada. Quisque egestas massa vel nisi bibendum pellentesque. Mauris sed aliquam nisi, non interdum erat.
            | Vestibulum feugiat gravida nibh, vel imperdiet arcu consectetur nec. Integer eget viverra odio. Phasellus posuere risus sed mauris euismod vestibulum. Suspendisse ac lacus sapien. In pulvinar ante non bibendum placerat.
            | Vestibulum aliquam lobortis mattis. Vestibulum non efficitur nisi, vitae
            | dignissim eros. Ut tristique nisi elit, quis scelerisque tortor faucibus vitae. Duis blandit, massa non sagittis tempus, quam lectus ultrices sem.
  .padding-large.white-bg
    .container
      .row
        .col-sm-6
          h3 Housing
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus consectetur magna at finibus tempor. Suspendisse consequat pharetra ipsum sit amet ultrices. Phasellus vestibulum pharetra malesuada. Quisque egestas massa vel nisi bibendum pellentesque. Mauris sed aliquam nisi, non interdum erat.
            | Vestibulum feugiat gravida nibh, vel imperdiet arcu consectetur nec. Integer eget viverra odio. Phasellus posuere risus sed mauris euismod vestibulum. Suspendisse ac lacus sapien. In pulvinar ante non bibendum placerat.
            | Vestibulum aliquam lobortis mattis. Vestibulum non efficitur nisi, vitae
            | dignissim eros. Ut tristique nisi elit, quis scelerisque tortor faucibus vitae. Duis blandit, massa non sagittis tempus, quam lectus ultrices sem.
        .col-sm-6
          img.img-responsive(src="images/1999.jpg")
          

  .padding-large.gray-bg
    .container
      .row
        .col-sm-12
          h5 Other programs
      .row
        .col-sm-6
        .col-sm-6
        .col-sm-6
        .col-sm-6
block script