extends ./_layout.jade

block title
  title Investor Relations

block content
  .container-fluid.home-image
    .row.text-center.text
      .col-sm-12
        h1 Lorem ipsum dolor sit amet, consectetur adipiscing elit
        p
          a(href="#") Learn more about our expertise and the industries we serve &nbsp;
            i.fa.fa-angle-right

  .padding-extra-large.white-bg
    .container.our-business-lines
      .row
        .col-sm-12
          .row.title
            .col-sm-12
              h5 Our Business Lines
          .row.text-center
            .col-sm-4
              .item 
                a(href="about-us.html")
                  img(src="images/icon-distribution-1.png")
                a(href="about-us.html")
                  h2 Distribution
                .hidden-xs.hidden-sm
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
             .col-sm-4
              .item 
                a(href="about-us.html")
                  img(src="images/icon-manufacturing-1.png")
                a(href="about-us.html")
                  h2 Manufacturing
                .hidden-xs.hidden-sm
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
            .col-sm-4
              .item 
                a(href="about-us.html")
                  img(src="images/icon-services-1.png")
                a(href="about-us.html")
                  h2 Support and Services
                .hidden-xs.hidden-sm
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.




  .padding-large.gray-blue-bg
    .container.home-latest-news
      .row.title
        .col-sm-12
          h5 Latest News
      .row
        .col-sm-12.col-md-7.left
          .row.mobile-wrapper
            .item.big
              .col-xs-12.col-sm-6.image
                a(href="#")
                  img(src="images/2008.jpg")
              .col-xs-12.col-sm-6.text
                  .category(href="#") investor relations
                  a(href="article-single.html")
                    h3 Lorem ipsum dolor sit amet consectetur elit
                  p Nullam pulvinar laoreet nunc vel sollicitudin. Integer imperdiet fringilla urna et maximus. Maecenas placerat augue at enim venenatis placerat.</p>
                  .date May 15, 2008
        .col-sm-12.col-md-5.right
          .row
            .top.col-sm-6.col-md-12
              .row.mobile-wrapper
                .item.small
                  .col-sm-6.image
                    a(href="#")
                      img(src="images/2003.jpg")
                  .col-sm-6.text
                      .category(href="#") water treatment
                      a(href="article-single.html")
                        h3 Lorem ipsum dolor sit amet consectetur elit
                      .date May 15, 2008
            .bottom.col-sm-6.col-md-12
              .row.mobile-wrapper
                .item.small
                  .col-sm-12.text
                      .category(href="#") agriculture
                      a(href="article-single.html")
                        h3 Lorem ipsum dolor sit amet consectetur elit
                      .date May 15, 2008
        
  
  //- Stock Information + Percentation
  a(href="investor-relations--stock-information.html")
    .blue-bg
      .container-fluid
        .row.block-stock-info--title
          .col-sm-6.text-left 
            h5 stock information
          .col-sm-6.text-right 
            h5 may 15, 2015
        .row.block-stock-info
          .col-sm-4.col-xs-12.col-md-2
            .item
              .title Share Price
              .money
                span.currency IDR
                span.nominal 830.00

          .col-sm-4.col-xs-6.col-md-2
            .item
              .title open
              .money
                span.currency IDR
                span.nominal 830.00
          .col-sm-4.col-xs-6.col-md-2
            .item
              .title Prev Close
              .money
                span.currency IDR
                span.nominal 830.00
          .col-sm-4.col-xs-6.col-md-2
            .item.success
              .title day's high
              .money
                span.currency IDR
                span.nominal 830.00
          .col-sm-4.col-xs-6.col-md-2
            .item.danger
              .title day's low
              .money
                span.currency IDR
                span.nominal 830.00
          .col-sm-4.hidden-xs.col-md-2
            .item
              .title volume
              .money
                span.currency IDR
                span.nominal 830.00

  .padding-extra-large.white-bg
    .container
      .row.information-report
        .col-sm-12.col-md-6.item
          .row
            .box
              .col-xs-12.col-sm-3.col-md-5.right
                img.img-responsive.center-block(src="images/annual-report-1.png")
              .col-xs-12.col-sm-9.col-md-7.left
                h3 Annual Report
                span.date 2013
                p Nullam pulvinar laoreet nunc vel sollicitudin. Integer imperdiet fringilla urna et maximus. Maecenas placerat augue at enim venenatis placerat.
                .download 
                  a.blue.download(href="#") Download PDF
                  span |
                  a.view-all(href="investor-relations--reports-archive.html") View all 
                    i.fa.fa-angle-right

        .col-sm-12.col-md-6.item
          .row
            .box
              .col-xs-12.col-sm-3.col-md-5.right
                img.img-responsive.center-block(src="images/investor-relations-1.jpg")
              .col-xs-12.col-sm-9.col-md-7.left
                h3 Investor Newsletter
                span.date May 2013
                p Nullam pulvinar laoreet nunc vel sollicitudin. Integer imperdiet fringilla urna et maximus. Maecenas placerat augue at enim venenatis placerat.
                .download 
                  a.blue.download(href="#") Download PDF
                  span |
                  a.view-all(href="investor-relations--reports-archive.html") View all 
                    i.fa.fa-angle-right

       
block script