extends ./_layout.jade

block title
  title Lautan Luas - Water Treatment
  
block content
  .container-fluid.hero

  //- Breadcrumb
  .breadcrumb-wrapper.hidden-xs
    .container
      ol.breadcrumb
        li
          a(href="index.html") Home
        li.separator
        li
          a(href="industries.html") Industries 
        li.separator
        li.active  Water Treatment

  .white-bg.padding-extra-large
    .container
      .row
        .col-sm-12
          h2 Water Treatment
          p We serve to almost all segment of water chemical business  in Indonesia such as raw and waste water treatment, boiler & cooling treatment, oil & gas, mining, sugar and others. We have highly experience water treatment team and laboratory facilities all across most big cities in Indonesia serving some 1,000 industrial end-users throughout Indonesia and the Asia-Pacific region.


  //- Services
  .padding-large.gray-bg
    .container.processes
      .row.title
        .col-sm-12
          h5 Processes
      .content
        .row
          each item in [{text:'Lorem',image:'images/2008-2.jpg'},{text:'Ipsum',image:'images/2003.jpg'},{text:'Dolor',image:'images/2001.png'}]
            .col-sm-4.item
              a(href="industries--distribution-channel--industry-single--process.html")
                .text-wrapper
                .text.text-center= item.text
                img.img-responsive(src="#{item.image}")
        .row
          each item in [{text:'Lorem',image:'images/2008-2.jpg'},{text:'Ipsum',image:'images/2003.jpg'},{text:'Dolor',image:'images/2001.png'}]
            .col-sm-4.item
              a(href="industries--distribution-channel--industry-single--process.html")
                .text-wrapper
                .text.text-center= item.text
                img.img-responsive(src="#{item.image}")

  .white-bg.padding-large
    .container.latest-news
      .row
        .col-xs-6
          h5 Latest News
        .col-xs-6.pull-right.text-right
          a.view-all(href="investor-relations--news-events--archives.html") View all 
            i.fa.fa-angle-right
      .row
        each item in [1,2,3]
          .col-sm-4
            .wrapper
              h3 
                a(href="article-single.html") Lorem ipsum dolor sit amet consectetur elit
              p Nullam pulvinar laoreet nunc vel sollicitudin. Integer imperdiet fringilla urna et maximus. Maecenas placerat augue at enim venenatis placerat.
              date May 15, 2015

  .gray-blue-bg.padding-large.industry-case-studies
    .container.thumbmail-preview-one
      .row
        .col-xs-6
          h5 case studies
        .col-xs-6.text-right
          a.view-all(href="industries--case-studies--archives.html") View all 
            i.fa.fa-angle-right
      .row.collection
        .col-sm-3.item
          .box
            .image
              a(href="article-single.html")
                img(src="images/2008-2.jpg")
            .text 
              h3 
                a(href="article-single.html") Lorem ipsum dolor sit amet consectetur
        .col-sm-3.item
          .box
            .image
              a(href="article-single.html")
                img(src="images/2003.jpg")
            .text 
              h3 
                a(href="article-single.html") Lorem ipsum dolor sit amet consectetur
        .col-sm-3.item
          .box
            .image
              a(href="article-single.html")
                img(src="images/2008-2.jpg")
            .text 
              h3 
                a(href="article-single.html") Lorem ipsum dolor sit amet consectetur
        .col-sm-3.item
          .box
            .image
              a(href="article-single.html")
                img(src="images/2003.jpg")
            .text 
              h3 
                a(href="article-single.html") Lorem ipsum dolor sit amet consectetur

  .white-bg.padding-large
    .container
      .row
        .col-xs-6
          h5 media gallery
        .col-xs-6.text-right
          a.view-all(href="industries--gallery.html") View all 
            i.fa.fa-angle-right
      .row.media-galleries
        each item in [1,2,3,4]
          .col-sm-3.item
            .box
              a.gallery(href="images/2003.jpg" title="(Eric Goncalves (cathing up again!))")
                img.img-responsive(src="images/2003.jpg" alt="")
       

  include ./template/investor/bottom-contact.jade


block script
  script(type="text/javascript").
    $('.gallery').fancybox({
      openEffect : 'none',
      closeEffect : 'none',
      helpers : {
        title : {
          type : 'outside'
        }
      }
    });


          
