extends ./_layout.jade

block title
  title Distribution Channels

block content
  .container-fluid.hero

  //- Breadcrumb
  .breadcrumb-wrapper
    .container
      ol.breadcrumb
        li
          a(href="index.html") Home
        li
          a(href="industries.html") Product and Services
        li.active Research and Development

  .padding-extra-large.white-bg
    .container
      .row
        .col-xs-12
          h2 Waste Water Process
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices magna vel porttitor hendrerit. Suspendisse potenti. Sed eros lectus, tristique eget porta at, varius ac nunc. Nunc interdum, leo non convallis facilisis, felis dolor tristique enim, et maximus ligula purus nec sem. Maecenas sodales commodo justo a vulputate. Cras sit amet felis nec quam semper eleifend. Etiam fermentum volutpat faucibus. Aliquam est enim, sagittis eget mattis quis, mattis vitae nisi. Donec eu elit venenatis enim facilisis dictum malesuada eu dui. Pellentesque vulputate dui in maximus viverra. Integer at lectus sagittis, rutrum lorem non, tempor turpis.
          img.img-responsive(src="images/waste-water-process.jpg")

  .padding-large.gray-blue-bg 
    .container
      .row
        .col-md-4.pull-right
          img.img-responsive(src="http://lorempixel.com/400/400/")
        .col-md-8
          h2 Coagullant and Flocculant
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices magna vel porttitor hendrerit. Suspendisse potenti. Sed eros lectus, tristique eget porta at, varius ac nunc. Nunc interdum, leo non convallis facilisis, felis dolor tristique enim, et maximus ligula purus nec sem. Maecenas sodales commodo justo a vulputate. Cras sit amet felis nec quam semper eleifend. Etiam fermentum volutpat faucibus. Aliquam est enim, sagittis eget mattis quis, mattis vitae nisi. Donec eu elit venenatis enim facilisis dictum malesuada eu dui. Pellentesque vulputate dui in maximus viverra. Integer at lectus sagittis, rutrum lorem non, tempor turpis.

  .padding-large.white-bg 
    .container
      .row
        .col-md-4
          img.img-responsive(src="http://lorempixel.com/400/400/")
        .col-md-8
          h2 Coagullant and Flocculant
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices magna vel porttitor hendrerit. Suspendisse potenti. Sed eros lectus, tristique eget porta at, varius ac nunc. Nunc interdum, leo non convallis facilisis, felis dolor tristique enim, et maximus ligula purus nec sem. Maecenas sodales commodo justo a vulputate. Cras sit amet felis nec quam semper eleifend. Etiam fermentum volutpat faucibus. Aliquam est enim, sagittis eget mattis quis, mattis vitae nisi. Donec eu elit venenatis enim facilisis dictum malesuada eu dui. Pellentesque vulputate dui in maximus viverra. Integer at lectus sagittis, rutrum lorem non, tempor turpis.
      

  .padding-large.gray-blue-bg 
    .container
      .row
        .col-md-4.pull-right
          img.img-responsive(src="http://lorempixel.com/400/400/")
        .col-md-8
          h2 Coagullant and Flocculant
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices magna vel porttitor hendrerit. Suspendisse potenti. Sed eros lectus, tristique eget porta at, varius ac nunc. Nunc interdum, leo non convallis facilisis, felis dolor tristique enim, et maximus ligula purus nec sem. Maecenas sodales commodo justo a vulputate. Cras sit amet felis nec quam semper eleifend. Etiam fermentum volutpat faucibus. Aliquam est enim, sagittis eget mattis quis, mattis vitae nisi. Donec eu elit venenatis enim facilisis dictum malesuada eu dui. Pellentesque vulputate dui in maximus viverra. Integer at lectus sagittis, rutrum lorem non, tempor turpis.
  

  .padding-large.white-bg 
    .container
      .row
        .col-md-4
          img.img-responsive(src="http://lorempixel.com/400/400/")
        .col-md-8
          h2 Coagullant and Flocculant
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices magna vel porttitor hendrerit. Suspendisse potenti. Sed eros lectus, tristique eget porta at, varius ac nunc. Nunc interdum, leo non convallis facilisis, felis dolor tristique enim, et maximus ligula purus nec sem. Maecenas sodales commodo justo a vulputate. Cras sit amet felis nec quam semper eleifend. Etiam fermentum volutpat faucibus. Aliquam est enim, sagittis eget mattis quis, mattis vitae nisi. Donec eu elit venenatis enim facilisis dictum malesuada eu dui. Pellentesque vulputate dui in maximus viverra. Integer at lectus sagittis, rutrum lorem non, tempor turpis.

  include ./template/investor/bottom-contact.jade
      