extends ./_layout.jade

block title
  title Lautan Luas - Investor Relations - News and Events

block content
  .container-fluid.hero

  .breadcrumb-wrapper.hidden-xs
    .container
      ol.breadcrumb
        li
          a(href="index.html") Home
        li.separator
        li
          a(href="investor-relations.html") Investor Relations
        li.separator
        li.active News and Events

  .gray-bg.padding-small.investor-relation-submenu.hidden-xs
    .container
      .row.pull-right.investor-menu
        .col-xs-12
          ul.list-inline
            each item in [{link: 'investor-relations--stock-information.html', text: 'STOCK INFORMATION'},{link: 'investor-relations--financial-information.html', text: 'FINANCIAL INFORMATION'},{link: 'investor-relations--news-events.html', text: 'NEWS AND EVENTS', state: 'active'},{link: 'investor-relations--faq.html', text: 'FAQ'}]
              li(class=item.state)
                a(href=item.link)= item.text

  .gray-bg.padding-small.investor-relation-submenu.visible-xs-block
    .container
      .row
        .col-xs-12
          select.form-control#investor-relation-submenu-mobile
            option(url="investor-relations--stock-information.html" selected) Stock Information
            option(url="investor-relations--stock-information.html") Stock Information
            option(url="investor-relations--financial-information.html") Financial Information
            option(url="investor-relations--news-events.html" selected) News and Events
            option(url="investor-relations--faq.html") FAQ

  .white-bg.padding-large
    .container.latest-news
      .row
        .col-xs-8
          h5 Latest News
        .col-xs-4.pull-right.text-right
          a.view-all(href="investor-relations--news-events--archives.html") View all 
            i.fa.fa-angle-right
      .row
        each item in [1,2,3]
          .col-sm-4
            .wrapper
              h3 
                a(href="article-single.html") Lorem ipsum dolor sit amet consectetur elit
              p Nullam pulvinar laoreet nunc vel sollicitudin. Integer imperdiet fringilla urna et maximus. Maecenas placerat augue at enim venenatis placerat.
              date May 15, 2015

  .gray-bg.padding-large
    .container.investor-events
      .row
        .col-xs-8
          h5 Events
        .col-xs-4.pull-right.text-right
          a.view-all(href="investor-relations--events-archive.html") View all 
            i.fa.fa-angle-right
      .row
        each item in [1,2,3]
          .col-sm-4
            .wrapper
              h3 
                a(href="investor-relations--events-single.html") Lorem ipsum dolor sit amet consectetur elit
              p Nullam pulvinar laoreet nunc vel sollicitudin. Integer imperdiet fringilla urna et maximus. Maecenas placerat augue at enim venenatis placerat.
              .detail
                .item
                  .icon 
                    i.fa.fa-clock-o
                  .content
                    .date May 15, 2015
                    .hour 09:00 - 11:00
                .clearfix
                .item
                  .icon
                    i.fa.fa-map-marker
                  .place Ballroom A, Hotel Mulia

  .white-bg.padding-large
    .container.auditor-report
      .row
        .col-xs-8
          h5 Investor Newsletter
        .col-xs-4.pull-right.text-right
          a.view-all(href="investor-relations--reports-archive.html") View All 
            i.fa.fa-angle-right
      .row
        each item in [2010,2011,2012,2013]
          .col-sm-3.text-center
            a(href="#")
              img.img-responsive.center-block(src="images/annual-report-1.png")
            .caption 
              a(href="#") Investor Newsletter 
                =item

  .padding-extra-large.gray-blue-bg
    .container
      .row.information-report
        .col-sm-12.col-md-6.item
          .row
            .box
              .col-xs-12.col-sm-3.col-md-5.right
                img.img-responsive.center-block(src="images/annual-report-1.png")
              .col-xs-12.col-sm-9.col-md-7.left
                h3 Analyst Report
                span.date 2013
                p Nullam pulvinar laoreet nunc vel sollicitudin. Integer imperdiet fringilla urna et maximus. Maecenas placerat augue at enim venenatis placerat.
                .download 
                  a.blue.download(href="#") Download PDF
                  span |
                  a.view-all(href="investor-relations--reports-archive.html") View all 
                    i.fa.fa-angle-right

        .col-sm-12.col-md-6.item
          .row
            .box
              .col-xs-12.col-sm-3.col-md-5.right
                img.img-responsive.center-block(src="images/investor-relations-1.jpg")
              .col-xs-12.col-sm-9.col-md-7.left
                h3 AGMS and EGMS Report
                span.date May 2013
                p Nullam pulvinar laoreet nunc vel sollicitudin. Integer imperdiet fringilla urna et maximus. Maecenas placerat augue at enim venenatis placerat.
                .download 
                  a.blue.download(href="#") Download PDF
                  span |
                  a.view-all(href="investor-relations--reports-archive.html") View all 
                    i.fa.fa-angle-right

  include ./template/investor/bottom-contact-2w.jade
                          
            

block script
  script(type="text/javascript").
    $('#investor-relation-submenu-mobile').change(function(){
      var selected = $('option:selected', this);
      window.location.href = selected.attr('url');
    });