extends ./_layout.jade

block title
  title News and Events

block content
  .container-fluid.hero

  .breadcrumb-wrapper
    .container
      ol.breadcrumb
        li
          a(href="index.html") Home
        li
          a(href="investor-relations.html") Investor Relations
        li.active News and Events

  .gray-bg.padding-small
    .container
      .row.pull-right.investor-menu
        .col-xs-12
          ul.list-inline
            each item in [{link: 'investor-relations--stock-information.html', text: 'STOCK INFORMATION'},{link: 'investor-relations--financial-information.html', text: 'FINANCIAL INFORMATION'},{link: 'investor-relations--news-events.html', text: 'NEWS AND EVENTS', state: 'active'},{link: 'investor-relations--faq.html', text: 'FAQ'}]
              li(class=item.state)
                a(href=item.link)= item.text

  .white-bg.padding-large
    .container.latest-news
      .row
        .col-xs-6
          h5 Latest News
        .col-xs-6.pull-right.text-right
          a.view-all(href="investor-relations--news-events--archives.html") View all 
            i.fa.fa-angle-right
      .row
        each item in [1,2,3]
          .col-sm-4
            .wrapper
              h3 
                a(href="about-us--health-safety-and-environment.html") Lorem ipsum dolor sit amet consectetur elit
              p Nullam pulvinar laoreet nunc vel sollicitudin. Integer imperdiet fringilla urna et maximus. Maecenas placerat augue at enim venenatis placerat.
              date May 15, 2015

  .gray-bg.padding-large
    .container.investor-events
      .row
        .col-xs-6
          h5 Events
        .col-xs-6.pull-right.text-right
          a.view-all(href="investor-relations--events-archive.html") View all 
            i.fa.fa-angle-right
      .row
        each item in [1,2,3]
          .col-sm-4
            .wrapper
              h3 
                a(href="about-us--health-safety-and-environment.html") Lorem ipsum dolor sit amet consectetur elit
              p Nullam pulvinar laoreet nunc vel sollicitudin. Integer imperdiet fringilla urna et maximus. Maecenas placerat augue at enim venenatis placerat.
              .detail
                .item
                  .icon 
                    i.fa.fa-clock-o
                  .content
                    .date May 15, 2015
                    .hour 09:00 - 11:00
                .clearfix
                .item
                  .icon
                    i.fa.fa-map-marker
                  .place Ballroom A, Hotel Mulia

  .white-bg.padding-large
    .container.auditor-report
      .row
        .col-xs-6
          h5 Investor Newsletter
        .col-xs-6.pull-right.text-right
          a.view-all(href="investor-relations--reports-archive.html") View All 
            i.fa.fa-angle-right
      .row
        each item in [2010,2011,2012,2013]
          .col-sm-3.text-center
            a(href="#")
              img.img-responsive.center-block(src="images/annual-report-1.png")
            .caption 
              a(href="#") Investor Newsletter 
                =item

  include ./template/investor/bottom-contact-2g.jade
                          
            

block script