extends ./_layout.jade

block title
  title Financial Information

block content
  .container-fluid.hero

  .breadcrumb-wrapper
    .container
      ol.breadcrumb
        li
          a(href="index.html") Home
        li
          a(href="investor-relations.html") Investor Relations
        li.active Financial Information

  .gray-bg.padding-small
    .container
      .row.pull-right.investor-menu
        .col-xs-12
          ul.list-inline
            each item in [{link: 'investor-relations--stock-information.html', text: 'STOCK INFORMATION'},{link: 'investor-relations--financial-information.html', text: 'FINANCIAL INFORMATION', state: 'active'},{link: 'investor-relations--news-events.html', text: 'NEWS AND EVENTS'},{link: 'investor-relations--faq.html', text: 'FAQ'}]
              li(class=item.state)
                a(href=item.link)= item.text

  .gray-bg
    .container-fluid
      .row.block-percentation
        .col-sm-2
          .item.success
            .title revenue growth
            .percentation 2.94% 
        .col-sm-2
          .item.success
            .title revenue growth
            .percentation 2.94% 
        .col-sm-2
          .item.success
            .title revenue growth
            .percentation 2.94% 
        .col-sm-2
          .item
            .title revenue growth
            .percentation 2.94% 
        .col-sm-2
          .item
            .title revenue growth
            .percentation 2.94% 
        .col-sm-2
          .item
            .title revenue growth
            .percentation 2.94% 
                
  .white-bg.padding-small
    .container.investor-contact
      .row.text-center
        | For investor relation inquiries, please contact 
        a(href="mailto:investor.relations@lautan-luas.com") investor.relations[at]lautan-luas[dot]com
            
            

block script