extends ./_layout.jade

block title
  title Lautan Luas - Career Fair at Bina Nusantara University

block content
  .container-fluid.hero

  //- Breadcrumb
  .breadcrumb-wrapper.hidden-xs
    .container
      ol.breadcrumb
        li
          a(href="index.html") Home
        li.separator
        li
          a(href="investor-relations.html") Investor Relations
        li.separator
        li
          a(href="investor-relations--events-archive.html") Events 
        li.separator
        li.active Career Fair at Bina Nusantara 

  .padding-extra-large.white-bg
    .container.event.single
      .row.title
        .col-sm-12
          h2 Career Fair at Bina Nusantara University
      .row.attribute
        .col-sm-6
          .row
            .col-sm-2.icon
              i.fa.fa-map-marker
            .col-sm-10.txt
              h3 Portland Building, Bina Nusantara University Main Campus
              p Jalan Kebon Jeruk Raya Blok Samudra No.27 Jakarta Barat, DKI Jakarta 11530 Indonesia
        .col-sm-6
          .row
            .col-sm-2.icon
              i.fa.fa-clock-o
            .col-sm-10.txt
              h3 1 – 4 January 2015
              p 9.00 – 17.00 WIB


      .row.content
        .col-sm-12
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices magna vel porttitor hendrerit. Suspendisse potenti. Sed eros lectus, tristique eget porta at, varius ac nunc. Nunc interdum, leo non convallis facilisis, felis dolor tristique enim, et maximus ligula purus nec sem. Maecenas sodales commodo justo a vulputate. Cras sit amet felis nec quam semper eleifend. Etiam fermentum volutpat faucibus. Aliquam est enim, sagittis eget mattis quis, mattis vitae nisi. Donec eu elit venenatis enim facilisis dictum malesuada eu dui. Pellentesque vulputate dui in maximus viverra. Integer at lectus sagittis, rutrum lorem non, tempor turpis.

