extends ./_layout.jade

block title
  title Investor Relations

block content
  .container-fluid.hero

  .breadcrumb-wrapper
    .container
      ol.breadcrumb
        li
          a(href="#") Home
        li.active Investor Relations

  .gray-bg.padding-small
    .container
      .row.pull-right.investor-menu
        .col-xs-12
          ul.list-inline
            each item in [{link: '#', text: 'STOCK INFORMATION'},{link: '#', text: 'FINANCIAL INFORMATION'},{link: '#', text: 'NEWS AND EVENTS'},{link: '#', text: 'FAQ'}]
              li
                a(href=item.link)= item.text
            

block script