extends ./_layout.jade

block title
  title Lautan Luas - Investor Relations - Events

block content
  .container-fluid.hero

  //- Breadcrumb
  .breadcrumb-wrapper
    .container
      ol.breadcrumb
        li
          a(href="index.html") Home
        li.separator
        li
          a(href="investor-relations.html") Investor Relations
        li.separator
        li.active Events

  .padding-extra-large.white-bg
    .container.archive
      .row
        .col-xs-12
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel magna vel augue pellentesque sollicitudin. Nunc ut semper sem. Curabitur at lectus sodales, tristique nisi et, sodales urna. Vivamus in velit at lorem hendrerit pulvinar. Suspendisse ut malesuada purus. Mauris ullamcorper risus in lorem tristique, ut fringilla velit suscipit. In a arcu quis mi ultricies pulvinar in ac ex. Nulla consequat metus id turpis tincidunt pharetra. In sagittis, erat sit amet facilisis dignissim, urna orci tempus ligula, vitae elementum dolor urna ut dolor. Sed eu arcu vitae ligula malesuada egestas.

      .row.filter
        .col-xs-2.col-xs-offset-8
          select.pull-right.form-control
            option 1990
            option 1991
            option 1992
        .col-xs-2
          select.pull-right.form-control
            option 1990
            option 1991
            option 1992

      each item in [1,2,3]
        .row.investor-events
          each item in [1,2,3]
            .col-sm-4.item
              .wrapper
                h3 
                  a(href="investor-relations--events-single.html") Lorem Ipsum
                p Nullam pulvinar laoreet nunc vel sollicitudin. Integer imperdiet fringilla urna et maximus. Maecenas placerat augue at enim venenatis placerat.
                .detail
                  .item
                    .icon 
                      i.fa.fa-clock-o
                    .content
                      .date May 15, 2015
                      .hour 09:00 - 11:00
                  .clearfix
                  .item
                    .icon
                      i.fa.fa-map-marker
                    .place Ballroom A, Hotel Mulia

  include ./template/investor/bottom-contact-2w.jade
      