extends ./_layout.jade

block title
  title Investor Relations

block content
  .container-fluid.hero

  //- Breadcrumb
  .breadcrumb-wrapper.hidden-xs
    .container
      ol.breadcrumb
        li
          a(href="index.html") Home
        li.separator
        li.active Corporate Social Responsibility

    //- Main content
  .padding-extra-large.white-bg
    .container.logged
      .row
        .col-sm-6
          h2 Log In
          p If you already have an account, please log in below.
          form(action="careers--apply-now.html" method="post")
            .form-group
              input.form-control#email(type="text" placeholder="Email")
            .form-group
              input.form-control#password(type="text" placeholder="Password")
            button.btn.btn-blue(type="submit") Log In
            a.forgot-password(href="#") Forgot Password
        .col-sm-6
          h2 Sign Up
          p Don’t have an account yet? Sign up now.
          form(action="login-thanks.html" method="post")
            .form-group
              input.form-control#email(type="text" placeholder="Email")
            .form-group
              input.form-control#password(type="text" placeholder="Password")
            .form-group
              input.form-control#confirm-password(type="text" placeholder="Confirm Password")
            button.btn.btn-blue(type="submit") Sign Up
            