extends ./_layout.jade

block title
  title Investor Relations

block content
  .container-fluid.hero

  //- Breadcrumb
  .breadcrumb-wrapper
    .container
      ol.breadcrumb
        li
          a(href="index.html") Home
        li.active Corporate Social Responsibility

    //- Main content
  .padding-extra-large.white-bg
    .container
      .row
        .col-sm-6
          h5 showing search results for “lorem ipsum”
        .col-sm-6.text-right Showing 10 out of 100 results
      .row
        ul.list-unstyled
          each item in [1,2,3,4,5,6,7,8,9,10]
            li
              h3 <b>Lorem ipsum</b> dolor sit amet consectetur elit
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam, mi et blandit cursus, felis nibh aliquet nulla, et tempus quam libero sit amet metus. Aliquam maximus diam urna, at interdum libero vehicula sit amet. Curabitur in urna in magna egestas pharetra eget vel erat.