.gray-blue-bg
  .container.investor-contact
    .row
      span For inquiries related to Water Treatment, please contact us directly. 
      a.btn.btn-blue.pull-right(href="contact-us.html") Contact Us