.row.manufacturing.intro
  .col-sm-12
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pulvinar laoreet nunc vel sollicitudin. Integer imperdiet fringilla urna et maximus. Maecenas placerat augue at enim venenatis placerat. Curabitur congue ut purus sed tincidunt. Vivamus vitae mattis elit, id tincidunt mi. Mauris eu nunc eu elit blandit interdum vitae vitae massa. Curabitur lacinia, diam sed dictum dapibus, quam dui congue ligula, in ultrices dui libero vitae enim. 
      | Pellentesque augue lacus, porta quis finibus quis, lobortis quis eros. Suspendisse tempor ornare lacus.

.row.manufacturing
  .col-sm-12.logo-collection
    .row.logo-item
      each item in ['PT. Advance Stabilindo Industry','PT Dunia Kimia Jaya','PT Dunia Kimia Utama']
        .col-sm-4.item
          .image.center-block
            img.img-responsive(src="images/PT-Advance-Stabilindo-Industry.png")
          .caption.text-center
            = item
     
    .row.logo-item
      each item in ['PT. Advance Stabilindo Industry','PT Dunia Kimia Jaya','PT Dunia Kimia Utama']
        .col-sm-4.item
          .image.center-block
            img.img-responsive(src="images/PT-Advance-Stabilindo-Industry.png")
          .caption.text-center
            = item
    .row.logo-item
      each item in ['PT. Advance Stabilindo Industry','PT Dunia Kimia Jaya','PT Dunia Kimia Utama']
        .col-sm-4.item
          .image.center-block
            img.img-responsive(src="images/PT-Advance-Stabilindo-Industry.png")
          .caption.text-center
            = item
