.row.services.intro
  .col-sm-12
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pulvinar laoreet nunc vel sollicitudin. Integer imperdiet fringilla urna et maximus. Maecenas placerat augue at enim venenatis placerat. Curabitur congue ut purus sed tincidunt. Vivamus vitae mattis elit, id tincidunt mi. Mauris eu nunc eu elit blandit interdum vitae vitae massa. Curabitur lacinia, diam sed dictum dapibus, quam dui congue ligula, in ultrices dui libero vitae enim. 
      | Pellentesque augue lacus, porta quis finibus quis, lobortis quis eros. Suspendisse tempor ornare lacus.

.row.services
  .col-sm-12.logo-collection
    .row.logo-item
      each item in [{image:'1-PT-Cipta-Mapan-Logistik.png',title:'PT. Cipta Mapan Logistik'},{image:'2-PT-Lautan-Jasaindo.png',title:'PT. Lautan Jasaindo'},{image:'3-PT-Strategy-Partner-Solution.png',title:'PT. Strategy Partner Solution'}]
        .col-sm-4.item
          .image.center-block
            img.img-responsive(src="images/#{item.image}")
          .caption.text-center
            = item.title