.row.apply-now.education-history
  .col-sm-12

    .form-title.padding-bottom-small Add / Edit Education Record
    form(method="post" action="#")
      .row
        .form-group.col-sm-7
          select.form-control
            each item in ['Select Education Level','SD','SMA']
              option= item
        .form-group.col-sm-5
          span Status: 
          label.radio-inline
            input#pass(type="radio" name="education-status" value="pass")
            | Pass
          label.radio-inline
            input#fail(type="radio" name="education-status" value="fail")
            | Failed

      .row
        .form-group.col-sm-12
          input.form-control(type="text" placeholder="School name")
           
          
      .row
        .col-sm-2.label-input
          | Year:
        .form-group.col-sm-5
          select#start-school.form-control
            each item in ['Start Year',1980,1981]
              option= item
        .col-sm-1.label-input
          | to
        .form-group.col-sm-4
          select#end-school.form-control
            each item in ['End Year',1980,1981]
              option= item

      .row
        .form-group.col-sm-7
          //- input.form-control(type="text" placeholder="City")
          select.form-control
            each item in ['Education Field','IT','Management']
              option= item
        .form-group.col-sm-5
          input.form-control(type="text" placeholder="GPA")

      .row.btn-action.padding-bottom-large.padding-top-small
        button.btn.btn-blue.pull-right(type="submit") Add
        a.btn.btn-transparant.pull-right(href="#") Cancel

.row.apply-now.education-history--collections
  .col-sm-12
    a.add-steps-item(href="#") + Add new working experience record

    // Desktop version
    .table-responsive.hidden-xs
      table.table
        thead
          tr 
            th No
            th Year
            th Education Level
            th School name
            th Education Field 
            th GPA
            th Status
            th Actions
        tbody
          each item in [1,2,3]
            tr 
              td 1.
              td 200 - 2003 
              td Senior High Sochool
              td SMA 1 Klungkung
              td General
              td 3.1
              td Passsd
              td.action
                a.blue(href="#")
                  i.fa.fa-pencil
                  | Edit
                a.blue(href="#")
                  i.fa.fa-trash-o
                  | Delete
    
    // Mobile version
    each item in [1,2,3]
      .table-responsive.visible-xs-block
        table.table.table-mobile
          thead
            tr
              th(colspan="2") 2000-2003
          tbody
            tr
              td.subhead Education Level
              td Senior High School
            tr 
              td.subhead School Name 
              td SMA 1 Klungkung
            tr
              td.subhead Education Field
              td General
            tr 
              td.subhead GPA
              td 3.1
            tr
              td.subhead Status
              td Pass


  .col-sm-12.btn-action
    a.btn.btn-blue.pull-right.next-apply-steps(href="javascript:") Next
    button.btn.btn-transparant.pull-right(type="submit") Save
    a.btn.btn-transparant.pull-right.prev-apply-steps(href="javascript:") Back
