
.row.apply-now.upload-files
  .col-sm-12
    p You must at least attach your photograph and your Certificate of Graduation below. <br>
      | You may only upload files with extension .jpg and .pdf with a max size of 500kb.

.row.apply-now.upload-files.padding-large
  .col-sm-12.form-title Photograph (.jpg only)

    