/**
 * Bootstrap Override
 */
body {
	font-family: 'Open Sans', sans-serif;

}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	color: $light-blue;
}

h1 {
	font-size: 40px;
	font-weight: 300;
}

h2 {
	font-size: 24px;
	font-weight: 400;
	margin-top: 0px;
	margin-bottom: 30px;
}

h3 {
	font-size: 15px;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 30px;
}

h5 {
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 30px;
}

p {
	line-height: 1.8;
	margin-bottom: 25px;
	font-weight: 400;
}

ul {
	&.list-unstyled {
		& > li {
			line-height: 1.8;
		}
	}
}

a {
	color: $light-blue;

	&:hover {
		text-decoration: none;
	}
}

img {
	// margin-bottom: 30px;
}

.btn-lautan {
	
	text-transform: uppercase;

	&:hover,
	&:focus {
		background-color: $white;
		color: $dark_blue;
	}
}

@media screen and (max-width: 767px) {
	.navbar-brand {
		padding: 25px 15px;

		img {
			height: 35px;
		}
	}
}

@media (min-width: 768px) and (max-width: 976px) {
	.navbar-brand {
		padding: 37px 15px;

		img {
			height: 17px;
		}
	}
}

@media (min-width: 977px) {
	.navbar-brand {
		padding: 20px 15px;
	}
}

.navbar-inverse .navbar-toggle {
	border: none;

	&:hover,
	&:focus {
		background-color: rgba(255,255,255,0);
	}
}
.carousel-control {
	&.right,
	&.left {
		background-image: none;
	}

}

/**
 * Main Global style
 */
.blue-bg {
	background-color: $dark_blue;
	color: $white;

	h3 {
		color: $white;
	}

	a {
		color: $white;

		&:hover,
		&:focus {
			color: $white_49;
			text-decoration: none;
		}
	}


}

.gray-bg {
	background-color: $light_white;
	border-top: 1px solid $black_border;
	border-bottom: 1px solid $black_border;
}

.white-bg {
	background-color: $white;
}

.padding-small {
	padding-top: $section-padding-small;
	padding-bottom: $section-padding-small;
}

.padding-large {
	padding-top: $section-padding-large;
	padding-bottom: $section-padding-large;
}

.padding-extra-large {
	padding-top: $section-padding-extra-large;
	padding-bottom: $section-padding-extra-large;
}

@media screen and (max-width: 767px) {

	.padding-extra-large {
		padding-top: $section-padding-large;
		padding-bottom: $section-padding-large;
	}	
}

.hero {
	height: 500px;
	margin-bottom: 0;
	background-image: url("../images/chemical-plant-web.jpg");
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.breadcrumb-wrapper {
	background-color: $light_white;
	border-top: 1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
}