/**
 * Bootstrap Override
 */
body {
	font-family: 'Open Sans', sans-serif;

}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	color: $light-blue;
}

h1 {
	font-size: 40px;
	font-weight: 300;
}

h2 {
	font-size: 24px;
	font-weight: 300;
	margin-top: 0px;
	margin-bottom: 30px;
}

h3 {
	font-size: 18px;
	font-weight: 400;
	margin-top: 0px;
	margin-bottom: 10px;
	line-height: 1.3;
}

h4 {
	line-height: 1.5;
}

h5 {
	@include title-uppercase(10px, 30px);
}

p {
	line-height: 1.7;
	margin-bottom: 25px;
	font-weight: 400;
	font-family: 'PT Sans', sans-serif;
	font-size: $font-size-base;
}

ul {
	
	margin-bottom: 25px;

	& > li {
		line-height: 1.7;
		font-weight: 400;
		font-family: 'PT Sans', sans-serif;
		font-size: $font-size-base;
	}

	&.list-unstyled {
		& > li {
			line-height: 1.7;
			font-weight: 400;
			font-family: 'PT Sans', sans-serif;
			font-size: $font-size-base;
		}
	}
}

a {
	

	-webkit-transition: color 500ms ease-out;
	-moz-transition: color 500ms ease-out;
	-ms-transition: color 500ms ease-out;
	-o-transition: color 500ms ease-out;
	transition: color 500ms ease-out;
 
	&:hover {
		text-decoration: none;
		
	}

	/* &.blue {
		color: rgba(3, 32, 119, 1);

		-webkit-transition: color 500ms ease-out;
		-moz-transition: color 500ms ease-out;
		-ms-transition: color 500ms ease-out;
		-o-transition: color 500ms ease-out;
		transition: color 500ms ease-out;
	 
		&:hover {
			text-decoration: none;
			color: rgba(3, 32, 119, .5);
		}
	} */
}

img {
	// margin-bottom: 30px;
}

.box-shadow {
	box-shadow: 0px 0px 10px 0px $black_49;
}


table,
.table {
  /* width: 100%;
  max-width: 100%;
  margin-bottom: $line-height-computed; */
  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      
      // background-color: $light_white !important;

      > th,
      > td {
        padding: 30px 8px;
      }

      > th {
      	color: $light_blue;
      }
    }
  }

  &.dataTable {
  	&.no-footer {
  		border-bottom: 1px solid $light_white;
  	}
  }
}

.breadcrumb {

	padding: 0px;
	font-size: $font-size-small;
	font-family: 'PT Sans', sans-serif;

	li {
		margin-top: 6px;
  		vertical-align: top;

		&.separator {
			background-image: url('../images/breadcrumbs-arrow.png');
			width: 13px;
	  		height: 28px;
  			vertical-align: middle;
  			margin-top: 0px;
  			margin-right: 10px;
  			margin-left: 10px;
		}
	}
	
}
.btn-blue {
	
	text-transform: uppercase;
	transition: background-color 400ms ease-out, color 400ms ease-out;

	font-size: 11px;
	letter-spacing: 2px;
	padding: 7px 15px;
	border-radius: 20px;
	border-color: $dark_blue;


	&:hover,
	&:focus {
		background-color: rgba(255,255,255,0);
		color: $dark_blue;
		border-color: $dark_blue;
	}

}

a.btn-blue {
	color: $white !important;

	&:hover,
	&:focus {
		
		color: $dark_blue !important;
	}
}

.btn-transparant {
	
	// letter-spacing: 1px;
	text-transform: uppercase;
	transition: background-color 400ms ease-out, color 400ms ease-out;

	font-size: 11px;
	letter-spacing: 2px;
	padding: 7px 15px;
	border-radius: 20px;
	border-color: $dark_blue;


	&:hover,
	&:focus {
		background-color: $dark_blue;
		color: $white;
		border-color: $dark_blue;
	}
	
}

a.btn-transparant {
	color: $dark_blue !important;

	&:hover,
	&:focus {
		
		color: $white !important;
	}
}
.form-control {
	font-weight: 400;
	font-family: 'PT Sans', sans-serif;
	font-size: $font-size-base;
}
.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
	border: none;
}

@media screen and (max-width: 767px) {
	.navbar-brand {
		padding: 25px 15px;

		img {
			height: 35px;
		}
	}
}

@media (min-width: 768px) and (max-width: 976px) {
	.navbar-brand {
		padding: 37px 15px;

		img {
			height: 17px;
		}
	}
}

@media (min-width: 977px) {
	.navbar-brand {
		padding: 20px 15px;
	}
}

.navbar-inverse {
	.navbar-toggle {
		border: none;

		&:hover,
		&:focus {
			background-color: rgba(255,255,255,0);
		}
	}

	.navbar-nav {
		& > li {
			& > a {
				font-size: 12px;
				color: rgba(255, 255, 255, 1);

				&:hover,
				&:focus {
					// color: $white_49;
					text-decoration: none;
					color: rgba(255, 255, 255, .5);
				}
			}
		}
	}
}

.tabs-left {

	.nav-tabs > li > a {
		background-color: rgba(255,255,255,0) !important;
		&:hover,
		&:focus {
			background-color: rgba(255,255,255,0);
		}
	}
}
.carousel-control {
	&.right,
	&.left {
		background-image: none;
	}

}

/**
 * Main Global style
 */
.blue-bg {
	background-color: $black;
	color: $white;

	h3 {
		color: $white;
	}

	a {
		color: rgba(255, 255, 255, 1);

		&:hover,
		&:focus {
			// color: $white_49;
			text-decoration: none;
			color: rgba(255, 255, 255, .5);
		}
	}


}

.gray-bg {
	background-color: $light_white;
	

	a {
		color: rgba(3, 32, 119, 1);

		&:hover,
		&:focus {
			text-decoration: none;
			color: rgba(3, 32, 119, .5);
		}
	}
}

.gray-blue-bg {
	background-color: $blay;

	a {
		color: rgba(3, 32, 119, 1);

		&:hover,
		&:focus {
			text-decoration: none;
			color: rgba(3, 32, 119, .5);
		}
	}
}

.white-bg {
	background-color: $white;

	a {
		color: rgba(3, 32, 119, 1);

		&:hover,
		&:focus {
			text-decoration: none;
			color: rgba(3, 32, 119, .5);
		}
	}
}

.padding-small {
	padding-top: $section-padding-small;
	padding-bottom: $section-padding-small;
}

.padding-top-small {
	padding-top: $section-padding-small;
}

.padding-bottom-small {
	padding-bottom: $section-padding-small;
}

.padding-large {
	padding-top: $section-padding-large;
	padding-bottom: $section-padding-large;
}

.padding-top-large {
	padding-top: $section-padding-large;
}

.padding-bottom-large {
	padding-bottom: $section-padding-large;
}

.padding-extra-large {
	padding-top: $section-padding-extra-large;
	padding-bottom: $section-padding-extra-large;
}

.padding-top-extra-large {
	padding-top: $section-padding-extra-large;
}

.padding-bottom-extra-large {
	padding-bottom: $section-padding-extra-large;
}

@media screen and (max-width: 767px) {

	/* .padding-extra-large {
		padding-top: $section-padding-large;
		padding-bottom: $section-padding-large;
	}	 */
	.padding-extra-large {
		padding-top: 30px;
		padding-bottom: 30px;
	}	

	.padding-small {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.padding-large {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.padding-extra-large {
		padding-top: 30px;
		padding-bottom: 30px;
	}	

	.padding-small {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.padding-large {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

.hero {
	margin-bottom: 0;
	background-image: url("../images/chemical-plant-web.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

@media screen and (max-width: 767px) {
	.hero {
		height: 200px;
		background-position: 50% -100px;

	}
}

@media (min-width: 768px) {
	.hero {
		height: 380px;
		background-position: 50% 50%;

	}
}

.breadcrumb-wrapper {
	background-color: $light_white;
	border-top: 1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;

	a {
		color: rgba(3, 32, 119, 1);

		&:hover,
		&:focus {
			text-decoration: none;
			color: rgba(3, 32, 119, .5);
		}
	}
}

.view-all {
	margin-top: 8px;
	color: $dark_gray !important;
	@include title-uppercase;
}

.form-search-menu {
	display: none;
	position: absolute;
	top: 30px;
  	right: 0px;

	input.form-control {
		height: 30px;
		width: 520px;
		padding-left: 5px;
		padding-right: 5px;
		border-right: 0px;

		&:focus {
			box-shadow: none;
			border-color: rgba(1, 14, 53, 0);
		}
	}

	.btn-search {
		border-radius: 0; height: 30px; border-left: 0px;

		&:hover,
		&:focus {

			background-color: #FFFFFF;
		}
	}

	.form-control-feedback {
		top: 1px;
		left: 0;
	}
}

.pagination {
	
	@include title-uppercase;
	font-family: 'Open Sans', sans-serif;

	& > li {
		& > a {
			border: none;
			color: $light_blue;
			padding-right: 15px;
			padding-left: 15px;
		} 
	}

	& > .active {
		& > a {
			background-color: $light_blue;
		}
	}
}