.map {

	.contact-info {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		max-width: 930px;

		.address {
			position: absolute;
			bottom: 80px;
			background-color: rgba(255, 255, 255, 0.85);
			padding: 20px;
		}
	}
}

@media screen and (max-width: 767px) {
	.map {
		height: 300px;

		.gmap {
			height: 300px;
		}
	}
}

@media (min-width: 768px) {
	.map {
		height: 500px;

		.gmap {
			height: 500px;
		}
	}
}

.contact-form {
	h1 {
		margin-bottom: 30px;
	}
	
	textarea {
		height: 165px;
	}

	dl {
		font-family: 'PT Sans', sans-serif;

		& > dt {
			font-weight: bold;
			color: $light-blue;
			width: 70px;
			line-height: 2;
		}

		& > dd {
			margin-bottom: 13px;
			line-height: 2;
		}

		@media screen and (max-width: 767px) {
			& > dd {

			}
		}

		@media (min-width: 768px) {
			& > dd {
				margin-left: 80px;
				
			}
		}
	}
}


@media screen and (max-width: 767px) {

	.send-us-message {
		margin-top: 40px;
	}
}