$box_industries_desktop_height: 160px;
$box_industries_tablet_height: 180px;
$box_industries_phone_height: 135px;

.industries-list {
	.content {
		.wrapper {
			
			background-color: #edf1f2;
			// -top: $grid-gutter-width; 
			// padding-bottom: $grid-gutter-width; 
			margin: ($grid-gutter-width / 2) 0px;
			// padding-right: $grid-gutter-width / 2; 
			// padding-left: $grid-gutter-width / 2; 

			.box {
				
				margin-right: -15px;
				margin-left: -15px;
				padding-top: $grid-gutter-width; 
				padding-bottom: $grid-gutter-width; 
				

				&.white {
					background-color: $white;
					border: 1px solid #edf1f2;
					font-family: 'PT Sans', sans-serif;
					font-weight: bold;
				}

				&.blue {
					background-color: #edf1f2;
				}
			}


			
		}

		@media screen and (max-width: 767px) {
			.wrapper {
				height: $box_industries_phone_height;
				.box {
					height: $box_industries_phone_height;
					padding-right: 10px;
  					padding-left: 10px;

  					&.white {
						background-color: $white;
						border: 1px solid #edf1f2;
						font-family: 'PT Sans', sans-serif;
						font-weight: bold;
						font-size: 12px;
					}
				}
			}
			
		}

		@media (min-width: 768px) and (max-width: 991px) {
			.wrapper {
				height: $box_industries_tablet_height;
					.box {
					height: $box_industries_tablet_height;
					padding-right: 10px;
  					padding-left: 10px;

  					&.white {
						background-color: $white;
						border: 1px solid #edf1f2;
						font-family: 'PT Sans', sans-serif;
						font-weight: bold;
						font-size: 12px;
					}
				}
			}
			
		}

		@media (min-width: 992px) {
			.wrapper {
				height: $box_industries_desktop_height;
				.box {
					height: $box_industries_desktop_height;
					padding-right: $grid-gutter-width; 
					padding-left: $grid-gutter-width; 

					&.white {
						background-color: $white;
						border: 1px solid #edf1f2;
						font-family: 'PT Sans', sans-serif;
						font-weight: bold;
					}
				}
			}
		}
	}
}

.services {
	.content {
		.item {
			.text-wrapper {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 10px;
				right: 10px;
				background-color: $dark_blue_74; 
				opacity: .75;
				transition: opacity .25s ease-in-out;

				&:hover,
				&:focus {
					opacity: .0;
	  				zoom: 1;
				}
			}

			.text {
				color: $white;
				position: absolute;
				bottom: 0;
				right: 0;
				left: 0;
				padding: 20px;
				font-size: 14px;
			}
		}

		@media screen and (max-width: 767px) {
			.item {

				margin-bottom: 20px;
			}
		}

		@media (min-width: 768px) and (max-width: 991px) {
			.item {

				margin-bottom: 20px;
			}
		}
	}
}

.processes {

	.content {

		.row:not(:last-child) {
			.item {
				margin-bottom: 20px;
			}
		}
	
		.text-wrapper {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 10px;
			right: 10px;
			background-color: $dark_blue_74; 
			opacity: .75;
			transition: opacity .25s ease-in-out;

			&:hover,
			&:focus {
				opacity: 0;
  				zoom: 1;
			}
		}

		.text {
			color: $white;
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			padding: 20px;
			font-size: 14px;
		}
	}
}

.industry-item {
	.image {

		@media (min-width: 768px) {
			& > img {
				width: 100%;
			}
		}


		@media screen and (max-width: 767px) {
			& > img {
				margin: 0 auto;
			}
		}

	}
}

.processes {
	.steps {
		.item {
			.caption {
				font-size: 14px;
				font-weight: bold;
				padding-top: 10px;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.thumbmail-preview-one {
		.box {
			background-color: $white;
			@include hover-box-shadow;
			.image {
				

				& > a > img {
					max-width: 100%;
					
				}
			}

			.text {
				padding: 15px 20px;
				
			}
		}
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.thumbmail-preview-one {
		.box {
			background-color: $white;
			@include hover-box-shadow;
			.image {
				

				& > a > img {
					max-width: 100%;
				}
			}

			.text {
				padding: 15px 20px;
				
			}
		}
	}
}
@media (min-width: 992px) {
	.thumbmail-preview-one {
		.box {
			background-color: $white;
			@include hover-box-shadow;
			.image {
				position: relative;
				height: 150px;
				overflow: hidden;

				& > a > img {
					@include hidden-center-image;
				}
			}

			.text {
				padding: 15px 20px;
				/* font-family: 'Open Sans', sans-serif;
				color: $light-blue;
				font-size: 14px; */
			}
		}
	}
}


.white-bg {
	.thumbmail-preview-one {
		.box {
			background-color: $blay;

			@include hover-box-shadow();
		}
	}
}

.media-galleries {
	.box {
		@include hover-box-shadow;
	}
}