.industries-list {
	.content {
		.wrapper {
			height: 125px;
			background-color: #edf1f2;
			padding-top: $grid-gutter-width; 
			padding-bottom: $grid-gutter-width; 
			margin: ($grid-gutter-width / 2) 0px;
			padding-right: $grid-gutter-width / 2; 
			padding-left: $grid-gutter-width / 2; 
		}
	}
}

.services {

	.content {
	
		.text-wrapper {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 10px;
			right: 10px;
			background-color: $dark_blue_74; 
			opacity: 0;
			transition: opacity .25s ease-in-out;

			&:hover,
			&:focus {
				opacity: .75;
  				zoom: 1;
			}
		}

		.text {
			color: $white;
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			padding: 20px;
		}
	}
}

.industry-item {
	.image {

		@media (min-width: 768px) {
			& > img {
				width: 100%;
			}
		}


		@media screen and (max-width: 767px) {
			& > img {
				margin: 0 auto;
			}
		}

	}
}

.processes {
	.steps {
		.item {
			.caption {
				font-size: 14px;
				font-weight: bold;
				padding-top: 10px;
			}
		}
	}
}