.investor-relation-submenu {
	border-bottom: 1px solid #bebebe;
}

.investor-menu {

	// border-bottom: 1px solid $gray;

	ul {
		margin-bottom: 0px;

		& > li {
			
			// padding: 10px 0;
			// 
			&.active {
				& > a {
					color: $light_blue;
				}
			}


			& > a {
				color: $black_font;
				font-family: 'Open Sans', sans-serif;
				@include title-uppercase();

				&:hover, 
				&:focus {
					text-decoration: none;
					color: $dark_blue;
				}

			}


		}

		@media screen and (max-width: 767px) {

			& > li {
				
				width: 24%;
				text-align: center;

				& > a {
					display: inline-block;
				}
			}
		}

		@media (min-width: 768px) {
			& > li {

				& > a {
  					margin-left: 30px;
					// letter-spacing: .15em;

				}
			}
		}
	}
}



@media screen and (max-width: 767px) {
	.investor-contact {
		text-align: center;
		font-size: 18px;
		padding-top: 40px;
		padding-bottom: 40px;

		span {
			margin-top: 6px;
			display: inline-block;
			width: 100%;

		}

		.btn {
			margin-top: 20px;
		}
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.investor-contact {
		font-size: 18px;
		padding-top: 40px;
		padding-bottom: 40px;

		span {
			margin-top: 6px;
			display: inline-block;
			width: 70%;
		}

		.btn {
			float: right !important;

		}
	}
}
@media (min-width: 992px) {
	.investor-contact {
		font-size: 18px;
		padding-top: 40px;
		padding-bottom: 40px;

		span {
			margin-top: 6px;
			display: inline-block;
		}

		.btn {
			float: right !important;
		}
	}
}


@media screen and (max-width: 767px) {
	.archive {

		.filter {
			margin-bottom: 20px;
		}

		.latest-news,
		.case-studies,
		.media-galleries,
		.annnual-report,
		.investor-events {
			&:not(:last-child) {
				margin-bottom: 0px;
			}	

			.item {
				margin-bottom: 20px;
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.archive {

		.filter {
			margin-bottom: 20px;
		}

		.latest-news,
		.case-studies,
		.media-galleries,
		.annnual-report,
		.investor-events {
			&:not(:last-child) {
				margin-bottom: 0px;
			}	

			.item {
				margin-bottom: 20px;
			}
		}
	}	
}

@media (min-width: 992px) {
	.archive {

		.filter {
			margin-bottom: 20px;
		}

		.latest-news,
		.case-studies,
		.media-galleries,
		.annnual-report,
		.investor-events {
			&:not(:last-child) {
				margin-bottom: 20px;
			}	

			.item {
				margin-bottom: 0px;
			}
		}
	}	
}

.latest-news {



	.wrapper {
		position: relative;
		background-color: #edf1f2;
		border-bottom: 2px solid #bebebe;
		padding: 20px;

		@include hover-box-shadow();

		date, .date {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			opacity: .5;			
			padding: 20px;

			@include title-uppercase();
		}
	}
}

@media screen and (max-width: 767px) {
	.latest-news {
		.wrapper {
			margin-bottom: 20px;
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.latest-news {
		.wrapper {
			margin-bottom: 20px;
		}
	}
}

@media (min-width: 992px) {
	.latest-news {
		.wrapper {
			min-height: 280px;

		}
	}
}

.article-single {

	h2 {
		margin-bottom: 10px;
	}
	
	.date {
		@include title-uppercase(11px, 30px);
	}
}

.investor-events {
	.wrapper {
		position: relative;
		background-color: #edf1f2;
		border-bottom: 2px solid #bebebe;
		padding: 20px;

		transition: box-shadow .25s;

		&:hover,
		&:focus {
			box-shadow: 0px 0px 10px 0px $black_49;
		}

		p:last-child {
			margin-bottom: 120px;
		}

		.detail {
			position: absolute;
			bottom: 0;
			border-top: 1px solid $gray;
			right: 0;
			left: 0;
			margin: 20px;
			color: $light_blue;
			padding-top: 20px;

			.item {


				.icon {
					float: left;
					font-size: 18px;
					width: 25px;
					text-align: center;
					margin-right: 10px;
					// padding: 7px 0;
				}

				.content, 
				.place {
					padding-top: 3px;
					float: left;
					font-family: 'PT Sans', sans-serif;
				}

				.place {
					// padding: 11px 0;
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.investor-events {
		.wrapper {
			min-height: 300px;
			margin-bottom: 20px;
		}
	}
}
@media (min-width: 768px) {
	.investor-events {
		.wrapper {
			min-height: 300px;

		}
	}
}

.event {
	&.single {
		.attribute {
			.icon {
				// display: block;
				font-size: 40px;
				color: $light_blue;
				margin-top: -10px;
				.fa {

				}

			}
			.txt {
				padding-right: 50px;
			}
		}
	}
}

.white-bg {
	.block-stock-info {

		border-bottom: 1px solid #f2f2f2;

		& > div {

			border-right: 1px solid #f2f2f2;
			&:last-child {
				border-right: 0px solid #f2f2f2;
			}
		}
		@media screen and (max-width: 767px) {
			& > div {
				border-bottom: 1px solid #f2f2f2;
			}
		}
	}
}

.white-bg {
	.block-stock-info {

		border-bottom: 1px solid #f2f2f2;

		&--title {
			text-transform: uppercase;
			padding: 15px 30px;
			font-size: 11px;
			letter-spacing: .2em;
			font-weight: 600;
			line-height: 30px;
			border-bottom: 1px solid #f2f2f2;

			h5 {
				margin: 0;
			}
		}
	}
}

.blue-bg {
	.block-stock-info {

		border-bottom: 1px solid rgba(255, 255, 255, 0.15);

		&--title {
			text-transform: uppercase;
			font-size: 11px;
			letter-spacing: .2em;
			font-weight: 600;
			line-height: 30px;
			border-bottom: 1px solid rgba(255, 255, 255, 0.15);

			@media screen and (max-width: 767px) {
				padding-top: 15px;
				padding-bottom: 15px;
			}

			@media (min-width: 768px) {
				padding: 15px 30px;
			}

			h5 {
				color: $white;
				margin: 0;
			}
		}

		& > div {

			border-right: 1px solid rgba(255, 255, 255, 0.15);
			
			&:last-child {
				border-right: 0px solid rgba(255, 255, 255, 0.15);
				
			}
		}

		@media screen and (max-width: 767px) {
			& > div {
				border-bottom: 1px solid rgba(255, 255, 255, 0.15);
			}
		}

		@media (min-width: 768px) and (max-width: 991px) {
			& > div {
				border-bottom: 1px solid rgba(255, 255, 255, 0.15);
			}
		}
	}
}

.block-stock-info {
	& > div {
		
		.item {
			// height: 155px;

			@media screen and (max-width: 767px) {
				padding: 50px 0px;
			}

			@media (min-width: 768px) {
				padding: 50px 40px;

			}

			&.big {
				padding: 20px 16px;

				.money {
					
					.nominal {
						font-size: 36px;
					}
				}
			}

			&.success {
				.money {
					
					color: $green;
				}
			}

			&.danger {
				.money {
					
					color: $red; 
				}
			}

			.title,
			.date {
				font-weight: 700;
				text-transform: uppercase;
				letter-spacing: 0.25em;
				font-size: 10px;
				margin-bottom: 10px;

			}

			.money {
				.currency {
					font-size: 14px;
					font-weight: 300;
					margin-right: 10px; 
				}
				.nominal {
					font-size: 24px;
					font-weight: 300;
				}
			}

			
		}

		@media screen and (max-width: 767px) {
			.item {
				text-align: center;
				height: 160px;
			}
		}
	}
}


.block-percentation {

	@media screen and (max-width: 767px) {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	& > div {
		
		.item {
			height: 120px;
			padding: 20px 10px;
			text-align: center;


			&.success {
				.percentation {
					
					color: $green;
				}
			}

			&.danger {
				.percentation {
					color: $red; 
				}	
			}
		

			.title {
				
				color: $light_blue;

				@include title-uppercase();

			}

			.percentation {
				font-weight: 300;
				font-size: 36px;
				color: $light_blue;

			}

			
		}
	}
}

.information-report {

	.item {
/* 
		& > .row {
			border: 1px solid black;
			// padding: 20px;
		}
 */
 		.box {

			margin: 10px;
			// border: 1px solid black;
			display: flex;
			padding: 20px;
			background-color: #edf1f2;

			@include hover-box-shadow();

			.right {
				& > img {
					box-shadow: 0px 0px 10px 0px $black_49;
				}

				@media screen and (max-width: 767px) {
					.date {
						display: block;
						margin-bottom: 20px;
					}
				}
			}

			.left {

				@media (min-width: 768px) {

					height: 210px;
				}
			
				h2 {
					margin-top: 0px;
					margin-bottom: 5px;
				}

				.title {
					text-transform: uppercase;
					font-weight: bold;
				}

				.date {
					margin-bottom: 15px;
					color: $gray;
					display: block;

					font-weight: 700;
					text-transform: uppercase;
					letter-spacing: 0.25em;
					font-size: 10px;
				}

				@media screen and (max-width: 767px) {

					& > .excerpt {
						padding-top: 20px;
					}
				}

				& > .download {
					position: absolute;
					bottom: 0;
					left: 0;

					font-family: 'Open Sans', sans-serif;
					

					font-weight: 700;
					text-transform: uppercase;
					letter-spacing: 0.25em;
					font-size: 10px;

					& > .download {
						margin-right: 5px;
					}

					& > .view-all {
						margin-left: 5px;
						color: $gray;
					}


				}
			}


			@media screen and (max-width: 767px) {
				.left {
					& > .download {
						left: 0px; 
						right: 0px;
					}
				}
			}

			@media (min-width: 768px) {

				&:first-child {
					// border-right: 1px solid $gray;
					// padding-right: 70px;
				}

				&:last-child {
					// padding-left: 70px;
				}

				.left {
					& > .download {
						left: 10px;
					}
				}
			}
		}
	
		@media screen and (max-width: 767px) {

			.box {
				display: inline-block;
				text-align: center;

				h3 {
					margin-top: 10px;
				}
			}

			.item:not(:last-child) {
				margin-bottom: 50px;
			}
		}
	}
}

.gray-blue-bg {
	.information-report {
		.item {
			.box {
				background-color: $white;
			}
		}
	}
}

.annnual-report,
.auditor-report {
	.caption {
		color: $light_blue;
		padding-top: 25px;
		padding-bottom: 30px;
		padding-right: 20px;
		padding-left: 20px;
		font-weight: 600;
		font-size: 14px;
	}

	@media (max-width: 991px) {
		.caption {
			padding-bottom: 50px;
		}
	}

	.subtitle {
		font-family: 'PT Sans', sans-serif;
		font-weight: 700;
		color: $light_blue;

		padding: 50px 0 20px 0;
		display: inline-block;

		&.first {
			padding-top: 0px !important;
		}
	}
}

.auditor-report {

	&.archive {
		.tab-row {
			margin-bottom: 30px;
		}

		.tab-row-content {
			.caption {
				padding-top: 15px;
				padding-bottom: 40px;
			}
		}

	}

	.tab {
		
		border: none;

		li {
			&.item {

				width: 49%;
			}

			a {
				@include title-uppercase;

				border: none;
				padding-top: 9px;
				color: $gray;

				&:hover,
				&:active {
					border: none;
					background-color: rgba(255,255,255,0);
				}
			}

			&.active {
				a {
					border: none;
					color: $light_blue;
				}
			}	
			
		}
	}
}

.faq {
	/* .questions {
		li {
			padding: 15px 0;
		}
	}

	.devider {
		margin: 100px 0;
		border-bottom: 2px solid $gray;
	}

	.answers {
		dt {
			color: #010e35;
		}
		
		dd {
			margin-bottom: 30px;
		}
	} */

	.panel {
		background-color: $white;
		border: none;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0); 
		
	}

	.panel-heading {
		background-color: $white;
		border: none;
		padding-right: 0px;
		padding-left: 0px;
		//.panel-group .panel-heading + .panel-collapse > .panel-body
		+ .panel-collapse {
			& > .panel-body {
				line-height: 1.8;
				//margin-bottom: 25px;
				font-weight: 400;
				font-family: 'PT Sans', sans-serif;
				font-size: 12px;
				border-top: 0px solid $gray_blue;
				padding-right: 0px;
				padding-left: 0px;

				h4 {
					color: $black;
					font-weight: bold;
				}

				.contact {
					padding-top: 33px;
					padding-bottom: 33px;
				

					& > .icon {
						padding: 5px 0;
						.fa {
							margin-right: 10px;
							width: 15px;
							font-size: 16px;
							color: $light_blue;
						}

						a {
							color: $light_blue;

							&:hover {
								// text-decoration: none;
							}
						}
					}
				}
			}
		}

		.panel-title {
			color: $light_blue;
			font-weight: bold;

			a {
				display: block;
  				padding: 5px 0;
  				height: 31px;
  				font-family: 'PT Sans', sans-serif;
  				font-size: 12px;

				&:hover,
				&:focus {
					text-decoration: none;
				}
			}
		}
	}
}

.share-price {
	table {

		font-family: 'PT Sans', sans-serif;
		tbody > tr {
			background-color: rgba(255,255,255,0);
		}
	}
}

.key-performance-ratio {
	table {

		font-family: 'PT Sans', sans-serif;
		tbody > tr {
			
		}
	}
}

.auditor-report-ir {
	display: none;
}