.investor-menu {
	ul {
		margin-bottom: 0px;

		& > li {
			
			padding: 10px 0;

			& > a {
				color: $black_font;
				text-transform: uppercase;
				font-weight: bold;
				letter-spacing: .05em;

				&:hover, 
				&:focus {
					text-decoration: none;
					color: $dark_blue;
				}

			}
		}
	}
}