$black:				#010E35;
$light_blue:		#032077;
$dark_gray:			#707070;
$gray:				#BEBEBE;
$light_white:		#FAFAFA;
$white:				#FFFFFF;
$green:				#34b98c;
$red:				#f02052;

$dark_blue: 		$light_blue; // #010E35;
$dark_blue_74: 		rgba(1, 14, 53, 0.74);

$gray_blue:			$dark_gray;

$black_49:			rgba(0, 0, 0, 0.49);
$white_49:			rgba(255, 255, 255, 0.49);
$black_80:			rgba(0, 0, 0, 0.8);
$black_font:		$dark_gray;
$black_border:		$gray;

$section-padding-small:	20px;
$section-padding-large:	50px;
$section-padding-extra-large: 100px;

$border-radius-luas:        14px !default;

$btn-lautan-color: $white !default;
$btn-lautan-bg: $dark_blue !default;
$btn-lautan-border: $white !default;

$open-sans-path: '';

// $bootstrap-sass-asset-helper: true;