$light_blue:		#032077;
$dark_blue: 		#010E35;
$dark_blue_74: 		rgba(1, 14, 53, 0.74);

$white:				#FFFFFF;
$gray:				#FAFAFA;
$gray_blue:			#EDF1F2;

$black:				#000;
$black_49:			rgba(0, 0, 0, 0.49);
$white_49:			rgba(255, 255, 255, 0.49);
$black_80:			rgba(0, 0, 0, 0.8);
$black_font:		#707070;
$black_border:		#d7d7d7;

$section-padding-small:	20px;
$section-padding-large:	50px;

$open-sans-path: '';

// $bootstrap-sass-asset-helper: true;