.row
  .col-md-12.text-center
    .nav
      .pagination
        li
          a(href="#" aria-label="Previous")
            span(aria-hidden="true") &laquo; Previous Page
        each item in [1,2,3,4]
          li
            a(href="#")= item
        li.active
          a(href="#") 5
        li.disabled
          a(href="#" aria-label="Next")
            span(aria-hidden="true") Next Page &raquo;